.section.about-container
    .container
        .row
            .col-12.col-sm-10.col-xl-5.col-xxl-4
                .about
                    .text_small
                        .about_title
                            h2
                                | About
                        p
                            | While we may not be able to change everything, we can at least reclaim our conscious awareness. We can still our minds, release the pressure in our bodies and reconnect with the wisdom that perhaps has been forgotten over time. How to breathe. How to be still. How to eat better and appreciate where that food comes from. To be mindful and to make conscious choices.
                    .row.align-items-center.justify-content-between.justify-content-lg-start
                        .col-auto.col-sm.col-lg-auto
                            a(href="#").social-link
                                | Facebook
                        .col-auto.col-sm.col-lg-auto
                            a(href="#").social-link
                                | Instagram
                        .col-auto.col-sm.col-lg-auto
                            a(href="#").social-link.last
                                | Youtube
            .col-12.col-xl-7.col-xxl-7.offset-xxl-1
                .row.justify-content-xxl-between
                    include ./managers