.row.no-gutters
    .col-sm-3
        .advantages-box
            .advantages.js-advantages-open
                .advantages__item
                    .advantages__item-img(data-displacement="img/content/11.jpg" data-intensity="0.4" data-speedIn="1" data-speedOut="1")
                        img(src="img/content/adv.jpg" alt="Image")
                        img(src="img/content/adv.jpg" alt="Image alt")
                    .advantages_content
                        .advantages_title
                            | Architecture
                        .advantages_text
                            h3
                                | All information about sales
                            p
                                | Dear site visitors! Please note that all information provided on this site is for informational purposes only, is not an offer or a public offer in accordance with art. 435, paragraph 2 of Art. 437 of the Civil Code of the Russian Federation. The prices indicated on the website are approximate, the developer can change the specified prices at any time at his discretion without any prior notice. The price of each contract is formed individually, taking into account, including: the selected object, its location, the construction phase, the payment terms in force at the time of the conclusion of the special shares agreement and (or) conditions, etc. The images of the objects presented on the website, including images of the layouts of individual apartments and non-residential premises are schematic and may differ from the materials of the design and working documentation. All information about sales conditions, the procedure for concluding contracts, the exact characteristics of objects, etc. You can find out by calling us and (or) directly in our sales offices.
                            p
                                | The developer reserves the right to change the materials and equipment specified in the apartment's characteristics, if the change does not entail a deterioration in the quality of the apartment being transferred and an increase in the total contribution (apartment prices). Finishing materials may differ from those presented. Characteristics of the apartment to be transferred are specified in the Annex to the Agreement.


    .col-sm-3
        .advantages-box
            .advantages.js-advantages-open
                .advantages__item
                    .advantages__item-img(data-displacement="img/content/11.jpg" data-intensity="0.4" data-speedIn="1" data-speedOut="1")
                        img(src="img/content/adv-12.jpg" alt="Image")
                        img(src="img/content/adv-12.jpg" alt="Image alt")
                    .advantages_content
                        .advantages_title
                            | Panoramic views of Tallinn
                        .advantages_text
                            h3
                                | All information about sales
                            p
                                | Dear site visitors! Please note that all information provided on this site is for informational purposes only, is not an offer or a public offer in accordance with art. 435, paragraph 2 of Art. 437 of the Civil Code of the Russian Federation. The prices indicated on the website are approximate, the developer can change the specified prices at any time at his discretion without any prior notice. The price of each contract is formed individually, taking into account, including: the selected object, its location, the construction phase, the payment terms in force at the time of the conclusion of the special shares agreement and (or) conditions, etc. The images of the objects presented on the website, including images of the layouts of individual apartments and non-residential premises are schematic and may differ from the materials of the design and working documentation. All information about sales conditions, the procedure for concluding contracts, the exact characteristics of objects, etc. You can find out by calling us and (or) directly in our sales offices.
                            p
                                | The developer reserves the right to change the materials and equipment specified in the apartment's characteristics, if the change does not entail a deterioration in the quality of the apartment being transferred and an increase in the total contribution (apartment prices). Finishing materials may differ from those presented. Characteristics of the apartment to be transferred are specified in the Annex to the Agreement.


    .col-sm-3
        .advantages-box
            .advantages.js-advantages-open
                .advantages__item
                    .advantages__item-img(data-displacement="img/content/11.jpg" data-intensity="0.4" data-speedIn="1" data-speedOut="1")
                        img(src="img/content/adv-3.jpg" alt="Image")
                        img(src="img/content/adv-3.jpg" alt="Image alt")
                    .advantages_content
                        .advantages_title
                            | Carefully designed plans and timeless interior finishing
                        .advantages_text
                            h3
                                | All information about sales
                            p
                                | Dear site visitors! Please note that all information provided on this site is for informational purposes only, is not an offer or a public offer in accordance with art. 435, paragraph 2 of Art. 437 of the Civil Code of the Russian Federation. The prices indicated on the website are approximate, the developer can change the specified prices at any time at his discretion without any prior notice. The price of each contract is formed individually, taking into account, including: the selected object, its location, the construction phase, the payment terms in force at the time of the conclusion of the special shares agreement and (or) conditions, etc. The images of the objects presented on the website, including images of the layouts of individual apartments and non-residential premises are schematic and may differ from the materials of the design and working documentation. All information about sales conditions, the procedure for concluding contracts, the exact characteristics of objects, etc. You can find out by calling us and (or) directly in our sales offices.
                            p
                                | The developer reserves the right to change the materials and equipment specified in the apartment's characteristics, if the change does not entail a deterioration in the quality of the apartment being transferred and an increase in the total contribution (apartment prices). Finishing materials may differ from those presented. Characteristics of the apartment to be transferred are specified in the Annex to the Agreement.


    .col-sm-3
        .advantages-box
            .advantages.js-advantages-open
                .advantages__item
                    .advantages__item-img(data-displacement="img/content/11.jpg" data-intensity="0.4" data-speedIn="1" data-speedOut="1")
                        img(src="img/content/adv-4.jpg" alt="Image")
                        img(src="img/content/adv-4.jpg" alt="Image alt")
                    .advantages_content
                        .advantages_title
                            | From floor to ceiling windows, high ceilings, lots of natural light
                        .advantages_text
                            h3
                                | All information about sales
                            p
                                | Dear site visitors! Please note that all information provided on this site is for informational purposes only, is not an offer or a public offer in accordance with art. 435, paragraph 2 of Art. 437 of the Civil Code of the Russian Federation. The prices indicated on the website are approximate, the developer can change the specified prices at any time at his discretion without any prior notice. The price of each contract is formed individually, taking into account, including: the selected object, its location, the construction phase, the payment terms in force at the time of the conclusion of the special shares agreement and (or) conditions, etc. The images of the objects presented on the website, including images of the layouts of individual apartments and non-residential premises are schematic and may differ from the materials of the design and working documentation. All information about sales conditions, the procedure for concluding contracts, the exact characteristics of objects, etc. You can find out by calling us and (or) directly in our sales offices.
                            p
                                | The developer reserves the right to change the materials and equipment specified in the apartment's characteristics, if the change does not entail a deterioration in the quality of the apartment being transferred and an increase in the total contribution (apartment prices). Finishing materials may differ from those presented. Characteristics of the apartment to be transferred are specified in the Annex to the Agreement.
