.popup-flat
    button(type="button",onClick="filter.hideFlat();").popup-flat_close

    .popup-flat_container
        .row.no-gutters
            .col-12.col-lg-4.col-xl-3
                .popup-flat_feature
                    .row.no-gutters
                        .col-12.col-sm-6.col-lg-12
                            .row.no-gutters
                                .col-12
                                    .popup-flat_floorplan
                                        .popup-flat_floorplan_mask
                                            include ../svg/floorplan.svg
                                        .popup-flat_floorplan_plan
                                            img(src="img/content/floor-test-bg.svg", alt="").js-floorplan
                            .row.no-gutters.justify-content-center
                                .col-auto
                                    .popup-flat_data.js-flatinfo-number(data-prefix="No.",data-type="text",data-aos="zoom-in")

                                .col-auto
                                    .popup-flat_data.js-flatinfo-floor(data-prefix="Floor ",data-type="text")

                                .col-auto
                                    .popup-flat_data.js-flatinfo-tower(data-prefix="Tower ",data-type="text")

                            .row.no-gutters
                                .col-12
                                    .popup-flat_price.js-flatinfo-price(data-suffix=" €",data-type="price")

                        .col-12.col-sm-6.col-lg-12
                            .row.no-gutters.justify-content-center.popup-flat-line
                                //.col-auto
                                //    .popup-flat_data.js-flatinfo-rooms(data-suffix="<span>Flats</span>",data-type="text")

                                .col-auto
                                    .popup-flat_data.js-flatinfo-square(data-suffix="m<sup>2</sup><span>Square</span>",data-type="text")

                                //.col-auto
                                //    .popup-flat_data.js-flatinfo-balcony(data-suffix="m<sup>2</sup><span>Square</span>",data-type="text")


                            .popup-flat-amount
                                .row.no-gutters.justify-content-center
                                    .col-auto
                                        .popup-flat-amount_btns
                                            button(type="button",data-id="", data-lang="ru").popup-flat-amount_btn.js-get-pdf
                                                | PDF
                                            button(type="button",data-flatid="").popup-flat-amount_btn.popup-flat-amount_btn-request.js-orderform
                                                | Request

                    
            .col-12.col-lg-8.col-xl-9
                .popup-flat_plan
                    .popup-flat_street_left
                        .popup-flat_street_up
                            <svg xmlns="http://www.w3.org/2000/svg" width="11" height="46" fill="none"><path fill="#362D4C" d="M5.9 2L10 6l.7-.6L5.4 0 0 5.4l.7.7L5 1.9v43.8h1V2z" opacity=".3"/></svg>
                        .popup-flat_street_name
                            | Saku
                        .popup-flat_street_down
                            <svg xmlns="http://www.w3.org/2000/svg" width="11" height="46" fill="none"><path fill="#362D4C" d="M5.9 43.8l4.1-4.2.7.8-5.3 5.3L0 40.4l.7-.8L5 43.8V0h1v43.8z" opacity=".3"/></svg>
                    .popup-flat_street_right
                        .popup-flat_street_up
                            <svg xmlns="http://www.w3.org/2000/svg" width="11" height="46" fill="none"><path fill="#362D4C" d="M5.9 2L10 6l.7-.6L5.4 0 0 5.4l.7.7L5 1.9v43.8h1V2z" opacity=".3"/></svg>
                        .popup-flat_street_name
                            | Kohila
                        .popup-flat_street_down
                            <svg xmlns="http://www.w3.org/2000/svg" width="11" height="46" fill="none"><path fill="#362D4C" d="M5.9 43.8l4.1-4.2.7.8-5.3 5.3L0 40.4l.7-.8L5 43.8V0h1v43.8z" opacity=".3"/></svg>
                    .popup-flat_street_bottom
                        .popup-flat_street_back
                            <svg xmlns="http://www.w3.org/2000/svg" width="46" height="11" fill="none"><path fill="#362D4C" d="M2 5.9L6 10l-.6.7L0 5.4 5.4 0l.7.7L1.9 5h43.8v1H2z" opacity=".3"/></svg>
                        .popup-flat_street_name
                            | Pärnu maantee
                        .popup-flat_street_forward
                            <svg xmlns="http://www.w3.org/2000/svg" width="46" height="11" fill="none"><path fill="#362D4C" d="M43.8 4.9L39.6.7l.8-.7 5.3 5.4-5.3 5.3-.8-.7 4.2-4.1H0v-1h43.8z" opacity=".3"/></svg>
                    .popup-flat_plan_compas
                    img(src="" alt="" data-type="img" class="js-flatinfo-svg_detail")

        //.popup-flat_content
        //    .row.custom.custom--right-image(data-aos="fade-right")
        //        .custom__image-slider.order-lg-2.card-carousel.is-active(data-theme="minimal")
        //            .card-carousel__inner.js-card-carousel.owl-carousel
        //                .card-carousel__item.active(data-index="0")
        //                    .custom__image-slide
        //                        img(src='img/content/about1.png', alt='1')
        //                .card-carousel__item(data-index="1")
        //                    .custom__image-slide
        //                        img(src='img/content/about1.png', alt='2')
        //                .card-carousel__item(data-index="2")
        //                    .custom__image-slide
        //                        img(src='img/content/about1.png', alt='3')
        //            .card-carousel__nav.owl-carousel_nav.owl-carousel_nav-inside
        //                .owl-carousel_nav_btn.owl-carousel_nav_btn-prev
        //                .owl-carousel_nav_count
        //                    span.owl-carousel_nav_count_current
        //                    span /
        //                    span.owl-carousel_nav_count_total
        //                .owl-carousel_nav_btn.owl-carousel_nav_btn-next
        //
        //        .custom__image-slider.order-lg-2.card-carousel(data-theme="classy")
        //            .card-carousel__inner.js-card-carousel.owl-carousel
        //                .card-carousel__item.active(data-index="0")
        //                    .custom__image-slide
        //                        img(src='img/content/about1.png', alt='1')
        //                .card-carousel__item(data-index="1")
        //                    .custom__image-slide
        //                        img(src='img/content/about1.png', alt='2')
        //                .card-carousel__item(data-index="2")
        //                    .custom__image-slide
        //                        img(src='img/content/about1.png', alt='3')
        //            .card-carousel__nav.owl-carousel_nav.owl-carousel_nav-inside
        //                .owl-carousel_nav_btn.owl-carousel_nav_btn-prev
        //                .owl-carousel_nav_count
        //                    span.owl-carousel_nav_count_current
        //                    span /
        //                    span.owl-carousel_nav_count_total
        //                .owl-carousel_nav_btn.owl-carousel_nav_btn-next
        //
        //        .custom__image-slider.order-lg-2.card-carousel(data-theme="bold")
        //            .card-carousel__inner.js-card-carousel.owl-carousel
        //                .card-carousel__item.active(data-index="0")
        //                    .custom__image-slide
        //                        img(src='img/content/about1.png', alt='1')
        //                .card-carousel__item(data-index="1")
        //                    .custom__image-slide
        //                        img(src='img/content/about1.png', alt='2')
        //                .card-carousel__item(data-index="2")
        //                    .custom__image-slide
        //                        img(src='img/content/about1.png', alt='3')
        //            .card-carousel__nav.owl-carousel_nav.owl-carousel_nav-inside
        //                .owl-carousel_nav_btn.owl-carousel_nav_btn-prev
        //                .owl-carousel_nav_count
        //                    span.owl-carousel_nav_count_current
        //                    span /
        //                    span.owl-carousel_nav_count_total
        //                .owl-carousel_nav_btn.owl-carousel_nav_btn-next
        //        .col-12.col-sm-8.col-lg-6.order-2.order-lg-1.text-center.text-sm-left.flat-design
        //            h2.title
        //                | Interior
        //                br
        //                | design
        //
        //            .popup-flat_themes_btns.js-flat-themes
        //                button(type="button" data-theme="minimal").popup-flat_themes_btn.current
        //                    | Minimal
        //                button(type="button" data-theme="classy").popup-flat_themes_btn
        //                    | Classy
        //                button(type="button" data-theme="bold").popup-flat_themes_btn
        //                    | Bold
        //            .popup-flat_content_text.js-flatinfo-text
        //                | Dear site visitors! Please note that all information provided on this site is for informational purposes only, is not an offer or a public offer in accordance with art. 435, paragraph 2 of Art. 437 of the Civil Code of the Russian Federation.
        //            .row
        //                .col-12.col-lg-8
        //                    .row.justify-content-between
        //                        .col-auto
        //                            .text_big
        //                                | 20000 m
        //                                sup
        //                                    | 2
        //                            p
        //                                | Parking area
        //                        .col-auto
        //                            .text_big
        //                                | 20000 m
        //                                sup
        //                                    | 3
        //                            p
        //                                | Storage area
        //                        .col-auto
        //                            .text_big
        //                                | 1000
        //                            p
        //                                | Rooms
        //                .col-12
        //                    a.flat__more-info.js-popup-parking(href="#") More info