.col-12.col-sm-6.col-xxl-auto
    .managers
        .managers_avatar
            img(src="img/content/manager1.jpg", alt="").no-margin
        .row
            .col-12.col-lg
                .managers_position
                    .managers_text
                        .h3
                            | Sigrid
                        p
                            | Manager
            .col-12.col-lg-auto
                .managers_contacts
                    .managers_text.text-lg-right
                        .h3
                            a(href="tel:+372646")
                                | + 372 646
                        p
                            a(href="mailto:office@vector.com")
                                | office@vector.com
.col-12.col-sm-6.col-xxl-auto
    .managers
        .managers_avatar
            img(src="img/content/manager2.jpg", alt="").no-margin
        .row
            .col-12.col-lg
                .managers_position
                    .managers_text
                        .h3
                            | Sigrid
                        p
                            | Manager
            .col-12.col-lg-auto
                .managers_contacts
                    .managers_text.text-lg-right
                        .h3
                            a(href="tel:+372646")
                                | + 372 646
                        p
                            a(href="mailto:office@vector.com")
                                | office@vector.com