.timeline-container
    .timeline-years
        .timeline-years_content(style="transform: translateX(0);")
            span.line
            .timeline-years_year.js-point
                | 2019
            .timeline-years_point.js-point(data-image="img/content/progress1.jpg")
                .timeline-years_point_title
                    | Site preparation
                .timeline-years_point_date
                    | May
                .timeline-years_point_dot.first

            .timeline-years_point.js-point(data-image="img/content/progress2.jpg")
                .timeline-years_point_title
                    | Excavation
                .timeline-years_point_date
                    | April
                .timeline-years_point_dot

            .timeline-years_point.js-point(data-image="img/content/progress3.jpg")
                .timeline-years_point_title
                    | Foundation work
                .timeline-years_point_date
                    | June
                .timeline-years_point_dot
            
            .timeline-years_point.js-point(data-image="img/content/progress1.jpg")
                .timeline-years_point_title
                    | First floor construction
                .timeline-years_point_date
                    | September
                .timeline-years_point_dot

            .timeline-years_point.js-point(data-image="img/content/progress2.jpg")
                .timeline-years_point_title
                    | Site preparation
                .timeline-years_point_date
                    | October
                .timeline-years_point_dot

            .timeline-years_point.js-point(data-image="img/content/progress3.jpg")
                .timeline-years_point_title
                    | Excavation
                .timeline-years_point_date
                    | November
                .timeline-years_point_dot

            .timeline-years_point.js-point(data-image="img/content/progress1.jpg")
                .timeline-years_point_title
                    | Foundation work
                .timeline-years_point_date
                    | December
                .timeline-years_point_dot
                
            .timeline-years_year.js-point
                | 2020

            .timeline-years_point.js-point(data-image="img/content/progress2.jpg")
                .timeline-years_point_title
                    | Site preparation
                .timeline-years_point_date
                    | May
                .timeline-years_point_dot

            .timeline-years_point.js-point(data-image="img/content/progress3.jpg")
                .timeline-years_point_title
                    | Excavation
                .timeline-years_point_date
                    | April
                .timeline-years_point_dot

            .timeline-years_point.js-point(data-image="img/content/progress1.jpg")
                .timeline-years_point_title
                    | Foundation work
                .timeline-years_point_date
                    | June
                .timeline-years_point_dot
            
            .timeline-years_point.js-point(data-image="img/content/progress2.jpg")
                .timeline-years_point_title
                    | First floor construction
                .timeline-years_point_date
                    | September
                .timeline-years_point_dot

            .timeline-years_point.js-point(data-image="img/content/progress3.jpg")
                .timeline-years_point_title
                    | Site preparation
                .timeline-years_point_date
                    | October
                .timeline-years_point_dot

            .timeline-years_point.js-point(data-image="img/content/progress1.jpg")
                .timeline-years_point_title
                    | Excavation
                .timeline-years_point_date
                    | November
                .timeline-years_point_dot

            .timeline-years_point.js-point(data-image="img/content/progress2.jpg")
                .timeline-years_point_title
                    | Foundation work
                .timeline-years_point_date
                    | December
                .timeline-years_point_dot

    a(href="img/content/progress1.jpg",data-fancybox="gallery").btn.timeline-background_item_magnifier.js-timeline-pic-fullphoto
    .timeline-background
        .timeline-background_item
            img(src="img/content/progress1.jpg", alt="").timeline-background_item_pic.js-timeline-pic-preview

