.about {
    display: flex;
    flex-flow: column;
    justify-content: space-between;

    height: 100%;
    padding: 0 0 30px;

    position: relative;

    z-index: 5;

    @include media-breakpoint-up(sm) {
        padding: 90px 20px;
    }
    @include media-breakpoint-up(lg) {
        padding: 120px 0;
    }
    @include media-breakpoint-up(xl) {
        padding: 0 0 65px;
    }

    a {
        &:hover {
            color: $yellow-dark;
            cursor: pointer;
        }
    }

    &_title {
        margin-bottom: 30px;

        @include media-breakpoint-up(sm) {
            margin-bottom: 70px;
        }
        @include media-breakpoint-up(xl) {
            margin-bottom: 70px;
        }
    }

    &-container {
        padding: 50px 0 20px;

        color: $white;
        background-color: #0e1632;

        @include media-breakpoint-up(sm) {
            padding: 70px 0 50px;
        }
        @include media-breakpoint-up(xl) {
            padding: 130px 0 100px;
        }
    }

    &-page {
        padding-top: 50px;

        @include media-breakpoint-up(sm) {
            padding-top: 90px;
        }
        @include media-breakpoint-up(xl) {
            padding-top: 100px;
        }
    }

    &-content {
        &_desc {
            max-width: 355px;

            @include media-breakpoint-up(sm) {
                font-size: 12px;
                line-height: 24px;
                margin-bottom: 120px;
            }

            & h3 {
                @include media-breakpoint-up(sm) {
                    margin-bottom: 30px;
                }
            }
        }
    }
}
