.advantages-box {
    position: relative;

    overflow: hidden;

    height: 100vw;

    @include media-breakpoint-up(sm) {
        height: 100vh;
        max-height: 840px;
    }
    @include media-breakpoint-up(xl) {
        height: 100vh;
        min-height: 840px;
        max-height: 100vh;
    }
}
.advantages {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    width: auto;
    height: 100%;
    // transition: padding .3s linear;

    background-color: $black;


    cursor: pointer;

    @include media-breakpoint-up(sm) {
        align-items: flex-start;
        // padding-top: 380px;
    }

    &.open {
        position: fixed;
        z-index: 300;
        // padding-top: 80px;
        // transition: padding .3s linear .3s;
    }

    &_title {
        flex: 0 0 auto;

        padding: 10px 25px;

        font-size: 50px;
        line-height: 1;
        font-family: $cinematografica-font;

        text-align: center;
        letter-spacing: 2px;

        opacity: .7;
        transition: all .2s linear;



        @include media-breakpoint-up(sm) {
            padding: 380px 20px 10px;
        }
        @include media-breakpoint-up(xxl) {
            padding: 380px 65px 10px;
        }
    }

    &.open &_title {
        padding: 10px 25px;

        opacity: 1;
        transition: all .2s linear;

        @include media-breakpoint-up(sm) {
            padding: 50px 20px 50px;
        }
        @include media-breakpoint-up(xxl) {
            padding: 50px 65px 50px;
        }
    }

    &_content {
        display: flex;
        flex-flow: column;
        justify-content: center;

        width: 100%;

        transition: all .2s linear;

        position: absolute;
        top: 0;
        z-index: 2;
        pointer-events: none;
    }

    &.open &_content {
        width: 90%;
        margin: 0 auto;

        transition: all .2s linear;

        @include media-breakpoint-up(sm) {
            width: 440px;
        }
        @include media-breakpoint-up(xxl) {
            width: 650px;
        }
    }

    &_text {
        display: none;

    }


    &-popup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $black;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center 35%;

        z-index: 500;

        display: none;

        &_close {
            position: fixed;
            top: 20px;
            right: 20px;

            display: block;

            width: 24px;
            height: 40px;
            margin: 0;
            padding: 0;

            cursor: pointer;

            color: $yellow;
            border: none;
            background: url('../img/icons/close.svg') no-repeat 50% 50%;

            @include media-breakpoint-up(sm) {
                top: 50px;
                right: 50px;
            }

            @include media-breakpoint-up(xxl) {
                top: 100px;
                right: 50px;
            }
        }

        &.open {
            display: block;

            &:before {
                content: '';
                display: block;
                position: absolute;
                background: rgba(0,0,0,0.8);
                width: 100%;
                height: 100%;
            }
        }

        &_text {
            & h3,
            & h3 {
                margin-bottom: 35px;
            }
        }

        &_content {
            color: $white;
            margin: 0 auto;

            max-width: 260px;

            @include media-breakpoint-up(sm) {
                width: 440px;
                max-width: none;
            }

            @include media-breakpoint-up(lg) {
                width: 652px;
            }
        }

        &_title {
            text-align: center;
            margin: 50px 0;

            @include media-breakpoint-up(sm) {
                margin: 50px 0;
            }

            @include media-breakpoint-up(xxl) {
                margin: 100px 0;
            }
        }
    }

    &_image {
        //position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        z-index: 1;


    }
}


.advantages__item {
    position: relative;
    height: 100%;
    width: 100%;

    & canvas {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
    }

    &.active {
        position: fixed;
        left: 0;
        right: 0;
        transition: all .4s ease;

    }
}
.advantages__item-img {
    display: block;
    height: 100%;
    width: 100%;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
        background-color: $black;
        opacity: .7;
        pointer-events: none;
    }
}

.advantages__item-img canvas {
    height: 100%!important;
    width: auto!important;
    min-width: 100%;
    max-width: none;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    @include media-breakpoint-down(sm) {
        height: auto!important;
        width: 100%!important;
    }
}

.advantages__item-img img {
    //height: auto;
    //width: 100%;
    min-width: 100%;
    max-width: none;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    @include media-breakpoint-down(sm) {
        height: auto!important;
        width: 100%!important;
        max-width: 100%;
        height: auto;
    }
}

.advantages__item-img img:nth-child(2) {
    position: absolute;
    top: 0;
    //left: 0;
    opacity: 0;
    transition: opacity 0.3s;
    left: 50%;
    transform: translateX(-50%);
}

.advantages__item:hover .advantages__item-img img:nth-child(2) {
    opacity: 1;
}
