.articles {
  overflow-x: hidden;

  &__inner {
    display: flex;
    flex-wrap: wrap;
    margin-left: -35px;
    margin-right: -35px;
  }

  &__item {
    width: calc(100% / 3 - 75px);
    margin-left: 35px;
    margin-right: 35px;

    @include media-breakpoint-down(md) {
      width: calc(100% / 2 - 75px);
    }

    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
}

.article {

  &__title {
    margin-bottom: 30px;
  }

  &__text {
    font-size: 12px;
    line-height: 24px;
    padding-bottom: 50px;
  }
}