.building {
    position: relative;

    display: none;
    &:hover {
        .building_outline-buro path {
            animation: dash 5s ease infinite ;
        }
    }

    &:hover {
        .building_outline-flats path {
            animation: dash2 5s ease infinite ;
        }
    }

    @include media-breakpoint-up(xl) {
        display: block;
        overflow: hidden;
    }
    &_outline-flats {
        position: absolute;
        //background: url('../img/outline-flats.svg') 64.5% 38% no-repeat;
        //background-size: 45.5%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        z-index: 4;
        pointer-events: none;


        & > svg {
            //display: none;
            position: absolute;
            width: 45.3%;
            left: 35.1%;
            top: -5.8%;
            z-index: 10;
            height: 100%;

            & path {
                stroke-dasharray: 2550;
                stroke-dashoffset: 2550;
            }
        }
    }

    &_outline-buro {
        position: absolute;
        //background: url(../img/outline-buro.svg) 62.4% 75% no-repeat;
        //background-size: 42%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        z-index: 4;
        pointer-events: none;

        & > svg {
            //display: none;
            position: absolute;
            width: 41.8%;
            left: 36.3%;
            top: 18.2%;
            z-index: 10;
            height: 100%;

            & path {
                stroke-dasharray: 1870;
                stroke-dashoffset: 1870;
            }
        }
    }


    &_pic {
        position: relative;
        z-index: 1;

        width: 100%;
        margin: 0;

        &_mask {
            position: absolute;
            z-index: 3;

            width: 100%;
            height: 100%;

            & .building-floor {
                fill-opacity: 0;

                &:hover,
                &.current {
                    fill-opacity: .6;
                    cursor: pointer;
                }
            }
        }

        &-title {
            position: absolute;
            z-index: 10;

            @include media-breakpoint-up(xl) {
                max-width: 360px;
                font-size: 80px;
                line-height: 1;
                font-family: $cinematografica-font;
                letter-spacing: 20px;
            }

            &_desc {
                font-size: 30px;
                line-height: 30px;

                letter-spacing: 1.2px;
            }

            &--tower1 {
                top: 18%;
                left: 19%;
                line-height: 120px;
            }
            &--tower2 {
                top: 15%;
                left: 60%;
            }

            &--buro {
                top: 52%;
                left: 14%;
            }
        }
    }

    &-model {
        position: relative;
        z-index: 1;

        min-height: 100vh;

        background: #080e1d;
        //background: #080e1d url('../img/screen.png') no-repeat 50% 50%;

        @include media-breakpoint-up(xl) {
            background: #080e1d;
        }


        &_webgl {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;

            width: 100%;
            height: 100%;

            @include media-breakpoint-up(xl) {
                display: block;
            }

            & canvas {
                width: 100%;
                height: 100%;
            }
        }
    }

    &-title {
        position: relative;
        z-index: 2;

        display: flex;
        flex-flow: column;
        justify-content: center;
        align-content: center;

        height: 100vh;

        font-family: $cinematografica-font;

        text-align: center;
        text-transform: uppercase;



        & h1 {
            max-width: 300px;
            margin: 0 auto 120px;

            font-size: 40px;
            line-height: 40px;

            letter-spacing: 10px;

            @include media-breakpoint-up(md) {
                max-width: 610px;

                font-size: 80px;
                line-height: 120px;

                letter-spacing: 20px;
            }
            @include media-breakpoint-up(lg) {
                max-width: 100%;
            }
            @include media-breakpoint-up(xl) {
                margin-bottom: 0;
            }

            & img {
                display: block;

                margin: 0 auto 50px;

                @include media-breakpoint-up(md) {
                    margin-bottom: 90px;
                }
            }
        }
    }

    &-location {
        position: relative;
        z-index: 2;

        @include media-breakpoint-down(lg) {
            padding-bottom: 50vh;
        }
        &_map {
            overflow: hidden;

            height: 512px;

            background: url('../img/content/map-index.png') no-repeat 50% 50%;
            background-size: cover;

            @include media-breakpoint-up(xl) {
                height: 100vh;
            }

            & .mapboxgl-ctrl-top-right {
                position: absolute;
                top: 50%;
                right: 50px;
                z-index: 10;

                transform: translateY(-50%);

                & .mapboxgl-ctrl-icon {
                    display: block;

                    width: 40px;
                    height: 40px;
                    margin: 10px 5px;
                    padding: 0;

                    font-size: 32px;

                    color: $white;
                    border: none;
                    background-color: $yellow;

                    &:hover {
                        background-color: $yellow-dark;
                        cursor: pointer;
                    }
                }

                & .mapboxgl-ctrl-zoom-in {
                    width: 50px;
                    height: 50px;
                    margin: 10px 0;
                    padding: 0;
                    &:after {
                        content: '+';
                    }
                }

                & .mapboxgl-ctrl-zoom-out {
                    &:after {
                        content: '-';
                    }
                }

                & .mapboxgl-ctrl-compass {
                    display: none;
                }
            }

            & .mapboxgl-marker {
                position: absolute;
                top: 0;
                left: 0;

                will-change: transform;
            }
        }
    }
}

.tower-floor {
    fill-opacity: 0;
    fill: #0e1632;

    & .is-hidden {
        fill-opacity: 0.7;
    }
}


    @keyframes dash {
        85% {
            stroke-dashoffset: 0;
        }
        100% {
            stroke-dashoffset: 0;
        }
    }
    @keyframes dash2 {
        85% {
            stroke-dashoffset: 1000;
        }
        100% {
            stroke-dashoffset: 1000;
        }
    }

.progress-load {
    position: absolute;
    top: 61.8%;
    left: 0;
    right: 0;
    height: 1px;
    z-index: 2;
}

.progress-bar {
    height: 100%;
    width: 0;
    background-color: #e48e3c;
}

.main-title {
    transform: translateY(100%);
    opacity: 0;
}
