.contacts {
    &-container {
        padding-top: 75px;
        padding-bottom: 20px;

        color: $white;
        background-color: #0e1632;

        @include media-breakpoint-up(sm) {
            padding-top: 160px;
            padding-bottom: 50px;
        }
        @include media-breakpoint-up(xl) {
            padding-top: 190px;
            padding-bottom: 30px;
        }
    }

    &-data {
        margin-bottom: 30px;

        text-align: center;

        @include media-breakpoint-up(xl) {
            text-align: left;
        }

        &_label {
            opacity: .3;

            @extend .h5;
        }
        &_content {
            @extend .h4;
        }
    }
}
