.content {
    padding-top: 50px;
    padding-bottom: 50px;

    @include media-breakpoint-up(sm) {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    
    &-section {
        margin-top: 25px;
        margin-bottom: 25px;

        @include media-breakpoint-up(sm) {
            margin-top: 50px;
            margin-bottom: 50px;
        }

        &_gallery {
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }
}