.errorpage {
    &_content {
        position: relative;
        z-index: 250;

        display: flex;
        flex-flow: column;
        justify-content: center;

        height: 80vh;
        padding: 10px;

        @include media-breakpoint-up(sm) {
            max-width: 480px;
            padding: 50px;
        }
    }

    &_title {
        margin-bottom: 35px;
        padding-top: 50px;

        font-size: 40px;
        line-height: 40px;
        font-family: $cinematografica-font;

        letter-spacing: 10px;

        @include media-breakpoint-up(sm) {
            margin-bottom: 35px;

            font-size: 80px;
            line-height: 80px;

            letter-spacing: 20px;
        }
    }

    &_link {
        color: $yellow;

        font-size: 30px;
        line-height: 30px;
        font-family: $cinematografica-font;

        letter-spacing: 1.2px;

        @include media-breakpoint-up(sm) {
            margin-bottom: 35px;

            font-size: 40px;
            line-height: 40px;

            letter-spacing: 2px;
        }
    }
}
