.filter {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 500;

    display: none;
    flex-flow: column;
    justify-content: center;
    align-content: center;

    padding: 50px 10px;

    background-color: #f7f7f7;

    @include media-breakpoint-up(sm) {
        padding: 50px 100px;
    }
    @include media-breakpoint-up(xl) {
        position: relative;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
        z-index: 10;

        display: block;

        padding: 0;

        background-color: transparent;
        padding-top: 70px;
    }

    &.open {
        display: flex;
    }

    &-btn {
        position: fixed;
        top: 50%;
        right: 0;
        z-index: 150;

        display: block;

        padding: 10px;

        font-size: 24px;
        line-height: 1;
        font-family: $cinematografica-font;

        letter-spacing: 1.6px;

        color: $white;
        border: none;
        background-color: $yellow;

        .menu-open & {
            z-index: 0;
        }

        @include media-breakpoint-up(sm) {
            padding: 20px;

            font-size: 30px;
        }
        @include media-breakpoint-up(xl) {
            display: none;
        }

        &_close {
            position: fixed;
            top: 40px;
            right: 40px;

            display: block;

            width: 25px;
            height: 41px;

            border: none;
            background: url('../img/icons/close.svg') no-repeat 50% 50%;
            cursor: pointer;

            @include media-breakpoint-up(xl) {
                display: none;
            }
        }
    }

    &-additional-amount {
        margin: 0 0;
        padding: 50px 10px;

        background-color: $white;

        @include media-breakpoint-up(sm) {
            padding: 50px 60px;
        }
        @include media-breakpoint-up(xl) {
            margin: 0;
            padding: 20px 30px;

            background-color: transparent;
        }

        & a {
            font-size: 24px;
            line-height: 1;
            font-family: $cinematografica-font;

            letter-spacing: 1.6px;

            color: $yellow;




            @include media-breakpoint-up(sm) {
                font-size: 24px;

                letter-spacing: 2.67px;
            }

            @include media-breakpoint-up(md) {
                &:hover {
                    color: $yellow-dark;
                    cursor: pointer;
                }
            }

            @include media-breakpoint-up(xl) {
                font-size: 40px;

                letter-spacing: 2.67px;
            }
        }

        &_item {
            font-size: 40px;
            line-height: 1;
            font-family: $cinematografica-font;

            letter-spacing: 2.67px;

            &_label {
                padding-left: 18px;

                font-size: 12px;
                line-height: 2;

                letter-spacing: .6px;

                color: rgba($black, .3);

                @include media-breakpoint-up(xl) {
                    font-size: 30px;
                }
            }
        }
    }

    &-view {
        border-bottom: 1px solid rgba($black, .1);
    }

    &-form {
        &_title {
            font-size: 30px;
            line-height: 1.2;
            font-family: $cinematografica-font;

            letter-spacing: 2px;

            opacity: .3;

            @include media-breakpoint-up(sm) {
                padding-right: 15px;

                font-size: 30px;
                line-height: 1.2;

                letter-spacing: 2px;

                opacity: .3;
            }
            @include media-breakpoint-up(xl) {
                padding-right: 15px;

                font-size: 30px;
                line-height: 1.2;

                letter-spacing: 2px;

                opacity: .3;
            }
        }
        &_slider {
            padding-right: 15px;
            padding-left: 15px;

            //@include media-breakpoint-up(sm) {
            //    padding-right: 40px;
            //    padding-left: 0;
            //}
            @include media-breakpoint-up(xl) {
                padding-right: 60px;
            }
            @include media-breakpoint-up(xxl) {
                padding-right: 120px;
            }
        }
    }
    &-towers {
        position: relative;
    }
    &-tower-plan {
        padding: 0 0;
        display: none;

        @include media-breakpoint-up(sm) {
            display: block;
            padding: 0 100px;
        }
        @include media-breakpoint-up(xl) {
            padding: 0;
            width: 73%;
            margin: 0 auto;
        }

        &_switch {
            display: flex;
            max-width: 270px;
            margin: 20px auto 0;
            justify-content: space-between;
            user-select: none;
        }

        &-mask {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
        }

        &_floor-select {
            color: rgba(14, 22, 50, 0.3);
            font-family: $cinematografica-font;
            font-size: 80px;
            font-weight: 200;
            letter-spacing: 5.33px;
            line-height: 80px;
            display: flex;
            justify-content: flex-end;
            flex-wrap: nowrap;
            align-items: stretch;
            padding-top: 20px;
            margin-top: 30px;
            border-top: 1px solid rgba(8, 14, 29, .3);
        }

        &_floor-arrows {
            align-self: stretch;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-left: 10px;
        }

        &_floor-current {
            color: #0e1632;
        }

        &_floor-up {
            height: 23px;
            display: flex;
            margin-top: 15px;
            cursor: pointer;
        }

        &_floor-down {
            height: 23px;
            display: flex;
            margin-top: auto;
            cursor: pointer;
        }

        &_floors {
            user-select: none;
        }
    }

    &-amount {
        font-size: 24px;
        line-height: 1.25;
        font-family: $cinematografica-font;

        letter-spacing: 1.6px;

        @include media-breakpoint-up(sm) {
            font-size: 30px;
            line-height: 1;

            letter-spacing: 2px;
        }
        @include media-breakpoint-up(xl) {
            font-size: 30px;
            line-height: 1;

            letter-spacing: 2px;

            border-bottom: 1px solid rgba($black, .1);
        }

        &_text {
            padding: 20px 0;

            color: #0e1632;

            @include media-breakpoint-up(sm) {
                padding: 20px 30px;
            }
            @include media-breakpoint-up(xl) {
                padding: 20px 30px;
            }
        }

        &_btn {
            padding: 17px 20px;

            color: $white;
            border: none;
            background-color: $black;

            @include media-breakpoint-up(sm) {
                padding: 17px 20px;

                font-size: 36px;
                line-height: 1;

                letter-spacing: 2px;
            }
            @include media-breakpoint-up(xl) {
                padding: 17px 20px;

                font-size: 36px;
                line-height: 1;

                letter-spacing: 2px;
            }



            &-reset {
                background-color: $white;
                color: #080e1d;
            }
            &-show {
                background-color: $yellow;
                color: $white;
            }

            @include media-breakpoint-up(md) {
                &:hover {
                    color: $white;
                    background-color: $yellow-dark;
                    cursor: pointer;
                }
            }
        }
    }

    &-views {
        &_item {
            display: none;
            overflow: hidden;

            &.show {
                display: block;
            }
        }

        &_plan-container {
            padding: 40px 200px 40px 100px;
            position: relative;

            &_filter {
                position: absolute;
                top: 26px;
                right: 60px;
                width: 257px;
                height: 400px;
                z-index: 10;

                & .filter-tower-plan {
                    padding: 0!important;
                }

                & .filter-tower-plan_switch {
                    justify-content: center;
                    & label {
                        margin: 0 27px;
                    }


                }
            }

            &_scheme {
                & img {
                    width: 100%;
                    margin: 0;
                }
                &_mask {
                    position: absolute;
                    top: 0;
                    left: 0;

                    width: 100%;
                    height: 100%;
                    margin: 0;

                    z-index: 5;

                    & .floor-flat {
                        fill-opacity: 0;
                        cursor: pointer;
                        &.current {
                            fill-opacity: .6;
                            cursor: pointer;
                            fill: #fd7e14;
                        }

                        @include media-breakpoint-up(md) {
                            &:hover {
                                fill-opacity: .6;
                                cursor: pointer;
                                fill: #fd7e14;
                            }
                        }

                    }
                }
                &_plan {
                    position: relative;
                    z-index: 1;

                    margin: 0;
                }
            }

            &_street {
                padding: 0 20px;

                font-size: 40px;
                line-height: 1;
                font-family: $cinematografica-font;

                letter-spacing: 2.67px;
                color: #0e1632;

                &:before {
                    content: '';

                    display: block;

                    width: 10px;
                    height: 45px;
                    margin: 20px auto;

                    background: url('../img/icons/arrow-top.svg') no-repeat 0 0;
                }

                &:after {
                    content: '';

                    display: block;

                    width: 10px;
                    height: 45px;
                    margin: 20px auto;

                    background: url('../img/icons/arrow-down.svg') no-repeat 0 0;
                }

                &.horizontal {
                    padding: 0;

                    text-align: center;

                    &:before {
                        content: '';

                        display: inline-block;

                        width: 45px;
                        height: 10px;
                        margin: 3px 20px;

                        vertical-align: middle;

                        background: url('../img/icons/arrow-left.svg') no-repeat 0 0;
                    }

                    &:after {
                        content: '';

                        display: inline-block;

                        width: 45px;
                        height: 10px;
                        margin: 3px 20px;

                        vertical-align: middle;

                        background: url('../img/icons/arrow-right.svg') no-repeat 0 0;
                    }
                }
            }
        }
    }
}
