.flat {
    &-list-outer {
        @include media-breakpoint-up(xl) {
            border-right: 1px solid rgba($black, .1);
        }
    }
    &-filter {
        @include media-breakpoint-up(xl) {
            padding-bottom: 100px;
            position: relative;

            &.fixed {
                position: fixed;
                top: 0;
                right: 0;
            }

            &.to-bottom {
                align-self: flex-end;
            }
        }
    }
    &-list {
        padding-top: 88px;
        @include media-breakpoint-up(sm) {
            padding-top: 70px;
            padding-bottom: 30px;
        }
        @include media-breakpoint-up(lg) {
            padding-top: 0;
            padding-bottom: 100px;
        }

        & table {
            width: 100%;
            @include media-breakpoint-up(lg) {
                width: 100%;

                position: relative;

                & thead {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    height: 80px;

                    &.fixed {
                        position: fixed;
                        right: auto;
                        background-color: #f7f7f7;
                        border-bottom: 1px solid rgba(8,14,29,.1)
                    }

                    & tr {
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        display: table-row;

                        & th {
                            white-space: nowrap;
                        }
                    }
                }

                & tbody > tr:first-child > td {
                    padding-top: 105px;
                }
            }
        }

        &-head {
            // display: none;

            font-size: 30px;
            line-height: .75;
            font-family: $cinematografica-font;

            letter-spacing: 2px;

            color: rgba(#0e1632, .3);

            @include media-breakpoint-up(sm) {
                font-size: 40px;
            }
            &_item {
                font-weight: normal;
                padding: 7px;

                @include media-breakpoint-up(sm) {
                    padding: 30px 10px;
                }

                &:first-of-type {
                    @include media-breakpoint-up(xl) {
                        padding-left: 40px;
                    }
                }

                &-sort {
                    color: #0e1632;
                    opacity: .3;
                    cursor: pointer;

                    &.is-active {
                        opacity: .8;
                    }
                    &:after {
                        content: '';
                        display: inline-block;
                        width: 0;
                        border-top: 10px solid #000;
                        border-left: 3px solid transparent;
                        border-right: 3px solid transparent;
                        vertical-align: middle;
                        margin: 0 5px;

                        @include media-breakpoint-down(sm) {
                            display: block;
                            margin: 5px 0 0;
                        }
                    }
                    &[data-sortdir='desc'] {
                        &:after {
                            content: '';
                            display: inline-block;
                            width: 0;
                            border-top: none;
                            border-bottom: 10px solid #000;
                            border-left: 3px solid transparent;
                            border-right: 3px solid transparent;
                            vertical-align: middle;
                            margin: 0 5px;

                            @include media-breakpoint-down(sm) {
                                display: block;
                                margin: 5px 0 0;
                            }
                        }
                    }
                }
            }
        }

        &-data {
            &_row {
                // display: flex;
                // flex-flow: row;
                // flex-wrap: wrap;

                // padding-top: 10px;
                // padding-bottom: 10px;

                // border-bottom: 1px solid rgba($black, .1);

                // cursor: pointer;

                // @include media-breakpoint-up(sm) {
                //     display: table-row;

                //     padding-top: 0;
                //     padding-bottom: 0;

                //     border-bottom: none;
                // }
                color: #0e1632;


                @include media-breakpoint-up(xl) {
                    &:hover {
                        color: $yellow;
                        background-color: $white;
                        cursor: pointer;
                    }
                }
            }

            &_col {
                // flex: 0 0 auto;

                // min-width: 50px;
                padding: 15px 10px;

                font-size: 16px;

                @include media-breakpoint-up(sm) {
                    font-size: 20px;
                    min-width: auto;
                    padding: 15px 10px;
                }

                &:first-of-type {
                    @include media-breakpoint-up(xl) {
                        padding-left: 40px;
                    }
                }

                // &:after {
                //     content: attr(data-name);

                //     display: block;

                //     font-size: 12px;
                //     line-height: 2;

                //     letter-spacing: .6px;

                //     color: rgba($black, .3);

                //     @include media-breakpoint-up(sm) {
                //         display: none;
                //     }
                // }
            }
        }
    }

    &__more-info {
        color: #e9a564;
        font-family: cinematograficathin;
        font-size: 40px;
        font-weight: 200;
        letter-spacing: 2.67px;
        line-height: 40px;
        margin-bottom: 90px;
        display: inline-block;
    }

    &-design {
        display: flex;
        flex-direction: column;
        justify-content: center;

        & .title {
            margin-bottom: 60px;
        }
    }
}



.fl-tower {
    display: none;

    @include media-breakpoint-up(sm) {
        display: table-cell;
    }
}

.fl-floor {
    display: table-cell;

    @include media-breakpoint-up(sm) {
        display: table-cell;
    }
}

.fl-no {
    display: table-cell;

    @include media-breakpoint-up(sm) {
        display: table-cell;
    }
}

.fl-rooms {
    display: table-cell;

    @include media-breakpoint-up(sm) {
        display: table-cell;
    }
}

.fl-square {
    display: table-cell;

    @include media-breakpoint-up(sm) {
        display: table-cell;
    }
}

.fl-balcony {
    display: none;

    @include media-breakpoint-up(sm) {
        display: table-cell;
    }
}

.fl-price {
    display: table-cell;
    white-space: nowrap;

    @include media-breakpoint-up(sm) {
        display: table-cell;
    }
}

.fl-view {
    display: none;

    @include media-breakpoint-up(sm) {
        display: table-cell;
    }
}


