.gallery {
    &-page {
        &_menu {
            margin: 10px 0;

            font-size: 24px;
            line-height: 1;
            font-family: $cinematografica-font;

            letter-spacing: 2px;
            text-transform: uppercase;

            @include media-breakpoint-up(sm) {
                font-size: 50px;
                line-height: 80px;

                letter-spacing: 8px;
            }
            @include media-breakpoint-up(xxl) {
                font-size: 80px;
                line-height: 80px;

                letter-spacing: 20px;
            }

            & ul {
                display: flex;
                justify-content: space-between;

                margin: 0;
                padding: 0;

                list-style: none outside;

                & li {
                    flex: 0 0 auto;

                    color: rgba($black, .2);

                    &.current {
                        color: rgba($black, 1);
                    }
                }
            }
        }
    }

    &-container {
        padding-top: 30px;

        @include media-breakpoint-up(sm) {
            padding-top: 70px;
        }
        @include media-breakpoint-up(xl) {
            padding-top: 80px;
        }
    }

    &-content {
        max-width: 545px;
        padding-top: 20px;
            padding-bottom: 50px;
        @include media-breakpoint-up(sm) {
            padding-top: 30px;
            padding-bottom: 50px;
        }
        @include media-breakpoint-up(xl) {
            padding-bottom: 150px;
        }
    }
}

.gallery-content-carousel {
    &_item {
        display: none;
        &.current {
            display: block;
        }
    }
}
