body, html {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  font-family: 'Montserrat', helvetica, sans-serif;
}

.skrllr-wrapper {
  position: relative;
  display: block;
  width: 100vw;
  height: 100%;
  padding: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.skrllr-section {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.skrllr-down {
  position: absolute;
  left: 50%;
  bottom: 0;
  background: none;
  width: 30px;
  height: 30px;
  border: 0;
  padding: 0;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
  transform: translate(-50%, 0%) rotate(-45deg);

  @include media-breakpoint-up(sm) {
    & {
      animation: bounce 3s infinite;
    }
  }
  

  @include media-breakpoint-down(sm) {
    // display: none;
    top: 100%;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
  }
}

@keyframes bounce {
  from {
    transform: translate(-50%, 0%) rotate(-45deg);
  } 
  50% {
    transform: translate(-50%, 100%) rotate(-45deg);
  }
  to {
    transform: translate(-50%, 0%) rotate(-45deg);
  }
}

.wrapper {
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.main-menu {
  display: none;
}

.index {

  & .wrapper {
    min-height: 100%;
    position: fixed;
    overflow: hidden;
  }

  &-full {
    $c: &;
    width: 100%;
    height: 100%;


    &__section {
      min-height: 100vh;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 20% center;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: #080e1d;
      backface-visibility: hidden;
      z-index: 1;

      &_dark {
        color: $white;

        &:before {
          content: '';
          z-index: 20;
          background-color: #0e1632;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          pointer-events: none;
          opacity: 0.3;
        }
      }

      &_1 {
        justify-content: center;

        & #{$c}__section-content {
          transform: translateY(0);
          opacity: 1;
        }
      }

      &_4 {
        background-position: left center;
      }

      @include media-breakpoint-down(sm) {
        align-items: center;
      }
    }

    &__section-content {
      position: relative;
      z-index: 21;
      padding: 20px 50px;
      transform: translateY(-5%);
      opacity: 0;
      pointer-events: none;


      @include media-breakpoint-down(sm) {
        padding: 20px;
        transform: translateY(0%);
      }
    }

    &__descript {
      max-width: 1142px;
      margin: auto;
      color: $white;
      font-family: 'Montserrat', sans-serif;
      text-align: center;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 60px;

      @include media-breakpoint-down(sm) {
        font-size: 30px;
        line-height: 1.6;
      }
    }

    &__header {
      max-width: 375px;
      color: inherit;
      font-family: "Montserrat", sans-serif;
      font-size: 32px;
      font-weight: 500;
      line-height: 1.5;
      margin-bottom: 29px;
      pointer-events: none;

      @include media-breakpoint-down(sm) {
        font-size: 18px;
      }
    }

    &__text {
      max-width: 400px;
      color: inherit;
      font-family: "Montserrat", sans-serif;
      font-size: 17px;
      font-weight: 400;
      line-height: 30px;
      pointer-events: none;

      &_view {
        &_s {
          max-width: 266px;
        }
      }

      @include media-breakpoint-down(sm) {
        font-size: 14px;
        line-height: 1.5;
      }

      @media screen and (max-width: 320px) {
        font-size: 13px;
      }
    }

    &__foot-links {
      font-family: "Montserrat", sans-serif;
      font-size: 22px;
      font-weight: 400;
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      margin-top: 60px;

      @include media-breakpoint-down(sm) {
        margin-top: 30px;
        font-size: 14px;
      }
    }

    &__link {
      padding: 0 20px;
      height: 55px;
      border: 1px solid #53596c;
      background-color: #060c1c;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      cursor: pointer;
      transition: all .2s ease;
      color: $white;

      &:last-of-type {
        margin-left: -1px;
      }

      &:hover {
        background-color: #e9a564;
        border-color: #e9a564;
        color: $white;
      }
    }

    &__footer {
      min-height: 60vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background: url(../img/lines.png) bottom center no-repeat #0e1632;
      background-size: cover;

      &:before {
        display: none;
      }

      & #{$c}__section-content {
        margin-top: auto;
        pointer-events: auto;

      }
    }

    &__copyrights {
      margin-top: auto;
      margin-bottom: 35px;
      align-self: stretch;

      @include media-breakpoint-down(sm) {
        margin-bottom: 50px;
      }
    }
  }
}

