.location {
    &-container {
        //padding-top: 50px;
        //
        //@include media-breakpoint-up(sm) {
        //    padding-top: 90px;
        //}
        //@include media-breakpoint-up(xl) {
        //    padding-top: 100px;
        //}
    }
    &-content {
        padding-top: 25px;
        padding-bottom: 25px;

        @include media-breakpoint-up(sm) {
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }
}