.managers {
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0;

    max-width: 374px;

    margin: 0 auto 60px;

    position: relative;

    z-index: 5;

    @include media-breakpoint-up(xl) {
        margin: 0 auto 40px;
    }

    &_avatar {
        margin-bottom: 16px;

        @include media-breakpoint-up(sm) {
            margin-bottom: 30px;
        }
    }

    &_contacts &_text {
        // color: $yellow;
        font-size: 10px;

        & p {
            margin-bottom: 0;
        }

        @include media-breakpoint-up(sm) {
            font-size: 12px;
        }
        & .h3 {
            margin-bottom: 2px;
            font-size: 30px;
            line-height: 50px;

            @include media-breakpoint-up(sm) {
                margin-bottom: 10px;
                font-size: 50px;
            }
        }
    }

    &_text {

        & .h3 {
            margin-bottom: 10px;
        }
    }

    a {
        &:hover {
            color: $yellow-dark;
            cursor: pointer;
        }
    }

    &_position {
        color: $white;
    }

    &_contacts {
        color: $yellow;
        font-size: 12px;
        line-height: 1;
        letter-spacing: 0;

        max-width: 374px;

        margin: 0 auto 46px;

        @include media-breakpoint-up(sm) {
            margin: 0 auto 60px;
        }

        .contacts-container & {
            padding: 0 10px;
        }
    }
}