.map {
    //height: 365px;
    //background-color: #ccc;
    position: relative;
    object-fit: cover;


    //& > img {
    //    position: absolute;
    //    top: 0;
    //    left: 50%;
    //    bottom: 0;
    //    right: 0;
    //    min-width: 100%;
    //    min-height: 100%;
    //    height: 100%;
    //    -o-object-fit: cover;
    //    object-fit: cover;
    //    transform: translateX(-50%);
    //}

    //@include media-breakpoint-up(sm) {
    //    height: 875px;
    //}
    //
    //@include media-breakpoint-up(xxl) {
    //    height: 875px;
    //}

    //&-location {
    //    background: url('../img/map2.png') no-repeat 50% 50%;
    //    background-size: cover;
    //}
    //
    //& .mapboxgl-ctrl-top-right {
    //    position: absolute;
    //    top: 50%;
    //    right: 50px;
    //
    //    z-index: 10;
    //
    //    transform: translateY(-50%);
    //
    //    display: none;
    //
    //    @include media-breakpoint-up(xxl) {
    //        display: block;
    //    }
    //
    //    & .mapboxgl-ctrl-icon {
    //        display: block;
    //        width: 40px;
    //        height: 40px;
    //        padding: 0;
    //        margin: 10px 5px;
    //        background-color: $yellow;
    //        border: none;
    //        color: $white;
    //        font-size: 32px;
    //
    //        &:hover {
    //            background-color: $yellow-dark;
    //        }
    //    }
    //
    //    & .mapboxgl-ctrl-zoom-in {
    //        width: 50px;
    //        height: 50px;
    //        padding: 0;
    //        margin: 10px 0;
    //        &:after {
    //            content: '+';
    //        }
    //    }
    //
    //    & .mapboxgl-ctrl-zoom-out {
    //        &:after {
    //            content: '-';
    //        }
    //    }
    //
    //    & .mapboxgl-ctrl-compass {
    //        display: none;
    //    }
    //}
    //
    //& .mapboxgl-marker {
    //    position: absolute;
    //    top: 0;
    //    left: 0;
    //    will-change: transform;
    //}
}