.panorama {
    overflow: hidden;
    margin: 0 -15px 20px;
    padding-top: 66px;

    &.grabbing {
        cursor: grabbing;
    }

    &-content {
        width: 100%;
    }
}

.img-full {
    width: 100%;
    height: auto;
    margin-bottom: 0;
}