.panel {
    position: fixed;
    right: 0;
    bottom: -2px;
    left: 0;
    z-index: 400;

    font-size: 24px;
    line-height: 24px;
    font-family: 'Montserrat', sans-serif;

    letter-spacing: .67px;


    .menu-open & {
        z-index: 0;
    }

    &_btn {
        position: relative;

        height: 50px;
        font-size: 12px;
        line-height: 0;
        padding: 0 20px 8px;
        display: flex;
        align-items: center;

        letter-spacing: .67px;

        color: $yellow;
        border-radius: 0;
        background-color: $black;

        @include media-breakpoint-down(sm) {
            font-size: 12px;
            padding: 0 10px 4px;
        }
        &--accent {
            color: $white;
            background-color: $yellow;

            &:hover {
                color: $black;
                background-color: $yellow-dark;
                cursor: pointer;
            }
        }

        &--outproject {
            color: $black;
            background-color: transparent;
            & .icon {
                font-size: 36px;
            }

            &.dark-bg {
                color: $white;
            }

            &:hover {
                color: $yellow-dark;
                cursor: pointer;
            }
        }
    }


    &-outproject {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 1;

        display: flex;
        overflow: hidden;
        align-items: center;
        justify-content: center;

        width: 0;

        font-weight: 200;
        font-size: 16px;

        letter-spacing: .83px;

        color: rgba(#080e1d, .3);
        box-shadow: 0 0 0 0 rgba(0,0,0,0);

        transition: box-shadow .5s ease-in-out;

        @include media-breakpoint-up(xl) {
            margin-left: 30px;
        }

        &:after {
            content: '';

            position: absolute;
            right: 0;
            bottom: 0;
            z-index: -1;

            display: block;

            width: 0;
            height: 0;

            opacity: 1;
            border-radius: 50%;
            background-color: #f7f7f7;
            transition: all .5s linear;
            transform: translateY(50%) translateX(50%);

            @include media-breakpoint-up(xxl) {
                right: 0;
                bottom: 0;
            }
        }

        & ul {
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;

            margin: 0;
            padding: 0;

            list-style: none outside;

            opacity: 0;
            transition: all .5s linear;

            @include media-breakpoint-up(xxl) {
                flex-flow: row;
            }

            & li {
                & span {
                    display: block;

                    padding: 16px 30px;

                    @include media-breakpoint-up(sm) {
                        padding: 27px 30px;
                    }
                    @include media-breakpoint-up(xxl) {
                        padding: 14px 30px;
                    }
                }
                & a {
                    display: block;

                    padding: 16px 30px;

                    color: rgba(#080e1d, 1);
                    transition: all .3s linear;

                    @include media-breakpoint-up(sm) {
                        padding: 27px 30px;
                    }
                    @include media-breakpoint-up(xxl) {
                        padding: 14px 30px;
                    }

                    &:hover {
                        text-decoration: none;
                        cursor: pointer;
                        color: $yellow;

                        @include media-breakpoint-up(xxl) {
                            background-color: $white;
                        }
                    }
                }
            }
        }

        & .panel_btn--outproject {
            position: absolute;
            right: 0;
            bottom: 0;

            display: block;

            background-color: transparent !important;
        }

        &.open {
            left: 0;

            width: 100%;
            height: calc(100vh + 2px);
            box-shadow: 0 0 32px rgba(0,0,0,0.16);


            @include media-breakpoint-up(sm) {
                left: 153px;

                width: auto;
            }
            @include media-breakpoint-up(lg) {
                left: auto;

                width: 530px;
            }
            @include media-breakpoint-up(xxl) {
                left: 350px;

                justify-content: start;

                width: auto;
                height: auto;
            }

            &:after {
                width: 5000px;
                height: 5000px;

                transition: all .5s linear;
            }

            & ul {
                opacity: 1;
            }

            & .panel_btn--outproject {
                &  .icon-capital {
                    color: $black;
                }
                &:hover .icon-capital {
                    color: $yellow;
                    cursor: pointer;
                }
            }
        }
    }
}
