.popup-parking {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 550;

    display: none;

    width: 100%;
    height: 100vh;

    color: $white;
    background-color: #0e1632;
    background-size: contain;
    background-position: center right;
    background-repeat: no-repeat;

    @include media-breakpoint-up(lg) {
        align-items: center;
        background-size: 50%;

    }

    @include media-breakpoint-down(md) {
        align-items: flex-start;
        background-size: 100%;
        background-position: center bottom;
    }
    @include media-breakpoint-down(sm) {
        background-size: 100%;
    }


    & .mCSB_container {
        margin-right: 0 !important;
    }

    &.open {
        display: flex;
    }

    &_close {
        position: absolute;
        top: 20px;
        right: 50%;
        margin-right: -12px;

        display: block;

        width: 25px;
        height: 41px;

        border: none;
        background: url('../img/icons/close.svg') no-repeat 50% 50%;

        @include media-breakpoint-up(sm) {
            position: absolute;
            top: 50px;
            right: 50px;

            margin: 0;
        }

        &:hover {
            opacity: .8;
            cursor: pointer;
        }
    }

    &_content {
        width: 700px;
        padding: 30px;
        // display: flex;

        @include media-breakpoint-down(md) {
            width: auto;
        }

        @include media-breakpoint-down(sm) {
            width: auto;
            text-align: center;
        }
    }

    &_title {
        margin-bottom: 35px;

        font-size: 40px;
        line-height: 40px;
        font-family: $cinematografica-font;

        padding-top: 50px;

        letter-spacing: 10px;
        text-align: center;

        @include media-breakpoint-up(sm) {
            margin-bottom: 35px;

            font-size: 80px;
            line-height: 80px;

            letter-spacing: 20px;

            text-align: left;
            padding-top: 50px;
        }

        @include media-breakpoint-up(md) {
            padding-top: 0;
        }
    }

    &_info {
        font-size: 30px;
        line-height: 30px;
        font-family: $cinematografica-font;

        letter-spacing: 1.2px;

        @include media-breakpoint-down(md) {
            text-align: center;
        }
        & big {
            font-size: 40px;
            line-height: 40px;

            letter-spacing: 2px;

            @include media-breakpoint-up(sm) {
                font-size: 80px;
                line-height: 80px;

                letter-spacing: 3.2px;
            }
        }
    }
}
