.popup-flat {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 390;

    display: none;
    overflow: scroll;

    width: 100%;
    height: 100vh;

    background-color: #f7f7f7;

    -webkit-overflow-scrolling: touch;
    transform: translate3d(0,0,0);

    & .mCSB_container {
        margin-right: 0 !important;
    }

    &.open {
        display: block;
    }

    &.no-scroll {
        overflow: hidden;
    }

    &_close {
        z-index: 10;

        display: block;

        width: 25px;
        height: 41px;
        margin: 30px auto;

        border: none;
        background: url('../img/icons/close.svg') no-repeat 50% 50%;

        @include media-breakpoint-up(sm) {
            position: absolute;
            top: 50px;
            right: 50px;

            margin: 0;
        }
    }

    &_container {
        position: relative;
        z-index: 1;
        overflow-x: hidden;
    }


    &_floorplan {
        position: relative;

        width: 210px;
        margin: 20px auto;

        @include media-breakpoint-up(sm) {
            width: 270px;
        }

        &_mask {
            position: absolute;
            top: 0;
            left: 0;

            & .floor-flat {
                fill-opacity: 0;

                &:hover,
                &.current {
                    fill-opacity: .6;
                    cursor: pointer;
                }
            }
        }

        & img {
            margin: 0;
        }
    }

    &_data {
        padding: 0 16px;

        font-size: 40px;
        line-height: 40px;
        font-family: $cinematografica-font;
        color: #0e1632;

        text-align: center;
        letter-spacing: 2.67px;

        @include media-breakpoint-up(xl) {

        }

        & span {
            display: block;

            font-size: 30px;
            line-height: 30px;
            margin-bottom: 20px;

            letter-spacing: 2px;

            opacity: .3;
        }
    }

    &_price {
        padding: 0px 10px 20px;

        font-size: 80px;
        line-height: 80px;
        font-family: $cinematografica-font;

        text-align: center;
        letter-spacing: 5.33px;

        border-bottom: 1px solid rgba($black, .1);
        margin-bottom: 20px;

        @include media-breakpoint-up(sm) {
            border-bottom: none;
            padding: 0px 10px;

        }

        @include media-breakpoint-up(xl) {
            border-bottom: 1px solid rgba($black, .1);
            padding: 10px 0 20px;
        }
    }

    &-line {
        border-bottom: 1px solid rgba($black, .1);
    }

    &-amount {
        margin: 0 0;
        padding: 20px 0;

        &_more {
            //padding: 20px 0;

            text-align: center;
            & a {
                font-size: 40px;
                line-height: 1;
                font-family: $cinematografica-font;

                letter-spacing: 2.67px;

                color: $yellow;
            }
        }

        &_item {
            padding: 10px 10px;

            font-size: 40px;
            line-height: 1;
            font-family: $cinematografica-font;

            letter-spacing: 2.67px;

            &_label {
                padding-left: 18px;

                font-size: 30px;
                line-height: 1;

                letter-spacing: 2px;

                opacity: .3;
            }
        }
        &_btns {
            display: flex;
            flex-flow: row;
            font-family: $cinematografica-font;
            margin-bottom: 20px;
        }
        &_btn {
            display: block;
            padding: 13px 20px;
            background-color: transparent;
            border: none;
            font-size: 40px;
            line-height: 48px;
            letter-spacing: 1px;
            color: #0e1632;
            &-request {
                background-color: $yellow;
                color: $white;
            }


            @include media-breakpoint-up(md) {
                &:hover {
                    background-color: $yellow-dark;
                    color: $white;
                    cursor: pointer;
                }
            }
        }
    }

    &_plan {
        position: relative;
        padding: 20px 20px 90px;

        border-top: 1px solid rgba($black, .1);
        border-bottom: 1px solid rgba($black, .1);

        display: flex;

        @include media-breakpoint-up(md) {
            border-top: none;
            border-bottom: none;
        }

        &_compas {
            width: 118px;
            height: 59px;
            background: url('../img/compas.svg') no-repeat 50% 50%;
            position: absolute;
            top: 40px;
            left: 20px;
        }

        & img {
            width: 100%;
            margin: 40px auto 0;
            display: inline-block;

            @include media-breakpoint-down(md) {

                max-width: 212px;
            }
            @include media-breakpoint-down(lg) {

                max-width: 460px;
            }

            @include media-breakpoint-up(md) {
                max-height: 600px;
                margin: 100px auto 0;
            }

            @include media-breakpoint-up(lg) {
                margin: 40px auto 0;
            }
        }
    }

    &_content {
        padding: 0 15px;

        &_text {
            max-width: 545px;
        }
    }

    &_feature {
        height: 100%;
        @include media-breakpoint-up(xl) {
            border-right: 1px solid rgba($black, .1);
        }
    }

    &_panorama {
        text-align: center;
        padding: 120px 0;

        &_title {
            font-family: $cinematografica-font;
            font-size: 80px;
            line-height: 80px;
            letter-spacing: 20px;
            text-align: center;
            margin-bottom: 120px;
            padding-top: 50px;
        }
    }

    &_themes {
        &_btns {
            display: flex;
            flex-flow: row;
            font-family: $cinematografica-font;
            margin-bottom: 20px;

            @include media-breakpoint-down(xs) {
                justify-content: center;
            }
        }
        &_btn {
            display: block;
            padding: 13px 25px;
            background-color: #f1f1f1;
            border: none;
            font-size: 40px;
            line-height: 48px;
            letter-spacing: 1px;
            color: #0e1632;

            &.current {
                background-color: #080e1d;
                color: $white;
            }
            @include media-breakpoint-up(md) {
                &:hover {
                    background-color: $yellow-dark;
                    color: $white;
                    cursor: pointer;
                }
            }

        }
    }

    &_street_name {
        color: #0e1632;
        font-size: 30px;
        font-weight: 200;
        opacity: .3;
        font-family: $cinematografica-font;
    }
    &_street_left, &_street_right, &_street_bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        position: absolute;
    }
    &_street_left, &_street_right {
        flex-direction: column;

        & .popup-flat_street_name {
            margin: 20px 0;
        }
    }



    &_street_bottom {
        flex-direction: row;
        height: 32px;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        justify-content: center;
        width: 500px;

        & .popup-flat_street_name {
            margin: 0 20px;
        }
    }

    &_street_left {
        top: 250px;
        left: 20px;
    }

    &_street_right {
        top: 250px;
        right: 20px;
    }

}
