.popup-orderform {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 550;

    width: 100%;
    height: 100%;

    background-color: #0e1632;

    font-family: $cinematografica-font;

    display: none;
    
    & .mCSB_container {
        margin-right: 0 !important;
    }

    &.open {
        display: block;
    }

    &_close {

        display: block;

        width: 25px;
        height: 41px;

        margin: 50px auto;

        border: none;
        background: url('../img/icons/close.svg') no-repeat 50% 50%;

        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }
    }

    &_content {
        color: $white;
        margin: 0 auto;

        max-width: 270px;

        &.hide {
            display: none;
        }

        @include media-breakpoint-up(sm) {
            max-width: 700px;
        }

        @include media-breakpoint-up(xxl) {
            max-width: 1020px;
            
        }

        &-success {
            max-width: 270px;

            @include media-breakpoint-up(sm) {
                max-width: 700px;
            }
    
            @include media-breakpoint-up(xxl) {
                max-width: 840px;
            }
        }
    }

    &_title {
        
        margin-bottom: 20px;

        font-size: 40px;
        line-height: 40px;

        text-align: center;
        letter-spacing: 10px;
        color: $white;

        @include media-breakpoint-up(sm) {
            margin-bottom: 60px;

            font-size: 60px;
            line-height: 60px;

            text-align: center;
            letter-spacing: 15px;
        }

        @include media-breakpoint-up(xxl) {
            margin-bottom: 60px;

            font-size: 80px;
            line-height: 80px;

            text-align: center;
            letter-spacing: 20px;
        }
    }

    &_form {
        &_send {
            display: block;
            border: none;
            background-color: $yellow;
            color: $white;
            font-size: 40px;
            line-height: 1;
            letter-spacing: 1px;
            padding: 20px 10px;
            min-width: 80px;
            margin: 40px auto 20px;

            &:hover {
                background-color: $yellow-dark;
                cursor: pointer;
            }
        }

        &_desc {
            font-size: 10px;
            font-family: $montserrat-font;
            line-height: 1.6;
            text-align: center;
            width: 290px;
            margin: 0 auto 40px;
        }
    }
}
