.progress {
    &-container {
        padding-top: 50px;

        @include media-breakpoint-up(sm) {
            padding-top: 90px;
        }
        @include media-breakpoint-up(xl) {
            padding-top: 100px;
        }
    }

    &-content {
        @include media-breakpoint-up(sm) {
            font-size: 12px;
            line-height: 24px;
        }
        @include media-breakpoint-up(xl) {
            max-width: 355px;
            padding-bottom: 50px;
        }

        &_title {
            @include media-breakpoint-up(xl) {
                margin-bottom: 30px;
            }
        }
    }
}