.social-link {
    display: block;

    margin-bottom: 80px;

    font-weight: 100;
    font-size: 30px;
    line-height: 50px;
    font-family: $cinematografica-font;

    letter-spacing: 1.2px;

    color: $yellow;

    @include media-breakpoint-up(sm) {
        margin-top: 20px;
        margin-bottom: 30px;

        font-size: 50px;

        letter-spacing: 2px;
    }
    @include media-breakpoint-up(lg) {
        margin-right: 60px;

        &.last {
            margin-right: 0;
        }
    }
}
