.switch {
    position: relative;

    display: none;

    margin: 30px auto;

    text-align: center;

    @include media-breakpoint-up(xl) {
        display: block;
    }

    &_dn {
        position: absolute;
        left: -99em;
    }

    &_toggle {
        position: relative;

        display: inline-block;

        width: 74px;
        height: 37px;
        margin: 0 0;

        font-size: 40px;
        line-height: 1;
        font-family: $cinematografica-font;

        cursor: pointer;
        letter-spacing: 2.67px;

        border: solid 1px rgba(151, 151, 151, .17);
        border-radius: 37px - 6;
        background-color: rgba(216, 216, 216, .1);

        &:before {
            content: attr(data-before);

            position: absolute;
            top: 0;
            left: 0;

            padding-right: 10px;

            white-space: nowrap;

            transition: all 400ms cubic-bezier(.68, -.55, .265, 1.55);
            transform: translateX(-100%);


        }


        &:after {
            content: attr(data-after);

            position: absolute;
            top: 0;
            right: 0;

            padding-left: 10px;

            white-space: nowrap;

            opacity: .2;
            transition: all 400ms cubic-bezier(.68, -.55, .265, 1.55);
            transform: translateX(100%);
        }

        &__handler {
            position: absolute;
            top: 9px;
            left: 8px;
            z-index: 1;

            display: inline-block;

            width: 19px;
            height: 19px;

            border-radius: 50%;
            background-color: #0e1632;
            transition: all 400ms cubic-bezier(.68, -.55, .265, 1.55);
            transform: rotate(-45deg);
        }

        
    }

    &-big &_toggle {
        margin-top: 40px;
        letter-spacing: 20px;
        &:before {
            font-size: 80px;

            transform: translateY(-30%) translateX(-100%);
        }
        &:after {
            font-size: 80px;

            transform: translateY(-30%) translateX(110%);
        }
    }

    &_dn:checked + &_toggle {
        &:before {
            opacity: .2;
        }

        &:hover {
            &:before {
                opacity: 1;
                color: #e9a564;
            }

            &:after {
                opacity: 1;
                color: #0e1632;
            }

            .switch_toggle__handler {
                background-color: #e9a564;
            }
        }

        &:after {
            opacity: 1;
        }
    }

    &_dn:not(:checked) + &_toggle {
        &:after {
            opacity: .2;
        }

        &:hover {
            &:after {
                opacity: 1;
                color: #e9a564;
            }

            &:before {
                opacity: 1;
                color: #0e1632;
            }

            .switch_toggle__handler {
                background-color: #e9a564;
            }
        }

        &:before {
            opacity: 1;
        }
    }

    &_dn:checked + &_toggle &_toggle__handler {
        transform: translate3d(38px, 0, 0) rotate(0);
    }
}
