.timeline-container {
    position: relative;


    @include media-breakpoint-up(lg) {
        height: 100vh;
        min-height: 825px;
    }
    @include media-breakpoint-up(xl) {
        margin-top: 180px;
        margin-bottom: 60px;
    }

    &-notimage {
        position: relative;

        height: 360px;
        margin-bottom: 50px;

        background-color: $white;

        @include media-breakpoint-up(sm) {
            min-height: 360px;
            margin-bottom: 100px;
        }
        @include media-breakpoint-up(md) {
            margin-right: -15px;
            margin-left: -15px;
            margin-top: 0;
        }
    }
}

.timeline-background {
    position: relative;
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
    margin: 50px auto 100px;

    @include media-breakpoint-up(sm) {
        margin: 0px auto -100px;
    }

    @include media-breakpoint-up(lg) {
        margin: 0px auto;
        min-height: 825px;
    }

    &_item {
        position: relative;

        overflow: hidden;

        height: 530px;
        margin-right: 15px;
        margin-left: 15px;

        @include media-breakpoint-up(sm) {
            max-width: 460px;
            height: 825px;
        }
        @include media-breakpoint-up(lg) {
            max-width: 1250px;
            height: auto;
            max-height: 825px;
        }


        &_pic {
            position: relative;
            z-index: 1;

            width: auto;
            min-width: 100%;
            height: auto;
            min-height: 100%;

            opacity: .15;

            @include media-breakpoint-up(sm) {
            }
            @include media-breakpoint-up(lg) {
            }

            object-fit: cover;
        }

        &_magnifier {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 12;

            width: 35px;
            height: 35px;
            margin-top: 150px;
            margin-left: -17.5px;

            background: url('../img/magnifier.svg') no-repeat 50% 50%;
            background-size: cover;

            @include media-breakpoint-up(sm) {
                margin-top: 250px;
            }
            @include media-breakpoint-up(lg) {
                margin-top: 170px;
            }
        }
    }
}

.timeline-years {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    display: flex;
    overflow: hidden;
    flex-flow: row;
    align-items: center;

    height: 100%;

    cursor: grab;

    @include media-breakpoint-up(xl) {
        padding-left: 30px;
    }

    &.grabbing {
        cursor: grabbing;
    }

    &_year {
        position: relative;
        z-index: 10;

        margin-right: 10px;
        padding: 95px 0 0 20px;

        font-weight: 700;
        font-size: 30px;
        font-family: $cinematografica-font;

        letter-spacing: 2px;
        opacity: 0;

        @include media-breakpoint-up(sm) {
            margin-right: 70px;
            padding: 65px 0 0 20px;

            font-size: 50px;
        }
        @include media-breakpoint-up(md) {
            margin-right: 70px;
            padding: 90px 0 0 20px;

            font-size: 50px;
        }
    }

    &_content {
        position: relative;

        display: flex;
        flex-flow: row;

        touch-action: pan-x;
        -webkit-touch-action: pan-x;

        & > .line {
            position: absolute;
            top: 103px;
            left: 140px;

            display: block;

            width: 0px;
            height: 2px;

            border: solid 1px rgba(#979797, .2);
        }
    }

    &_way {
        position: absolute;
        top: calc(50% - 1px);
        left: 0;

        width: 100%;
        height: 2px;

        opacity: .2;
        border: solid 1px #979797;
    }

    &_point {
        display: flex;
        flex-flow: column;

        width: 140px;

        font-weight: 300;
        font-family: $cinematografica-font;

        user-select: none;
        transform: scale(0);
        opacity: 0;

        &_title {
            order: 1;

            font-size: 50px;
            line-height: 1;

            cursor: pointer;
            white-space: nowrap;
            letter-spacing: 2px;

            color: $yellow;

            .timeline-container-notimage & {
                color: $black;
            }
        }
        &_date {
            order: 2;

            font-size: 30px;
            line-height: 1;

            cursor: pointer;
            letter-spacing: 1.2px;
        }

        &_dot {
            position: relative;

            order: 3;

            width: 8px;
            height: 8px;
            margin: 20px 12px;

            border-radius: 50%;
            background-color: #d8d8d8;

            //&.first {
            //    &::after {
            //        content: '';
            //
            //        position: absolute;
            //        top: 3px;
            //        left: 8px;
            //
            //        display: block;
            //
            //        width: 4000px;
            //        height: 2px;
            //
            //        border: solid 1px rgba(#979797, .2);
            //    }
            //}
        }

        &:nth-child(odd) {
            margin-top: 80px;
            margin-right: -20px;
            // transform: translateY(calc(100% - 48px)) translateX(-20px);
        }

        &:nth-child(odd) &_title {
            order: 3;
        }
        &:nth-child(odd)  &_date {
            order: 2;
        }
        &:nth-child(odd)  &_dot {
            order: 1;
        }
    }
}
