.video {
    &-box {
        &_item {
            position: relative;

            height: 100vh;
            margin-right: -15px;
            margin-bottom: 25px;
            margin-left: -15px;

            background-color: $black;

            @include media-breakpoint-up(sm) {
                height: 864px;
                margin-right: -30px;
                margin-bottom: 50px;
                margin-left: -30px;
            }
            @include media-breakpoint-up(xxl) {
                height: 900px;
                margin-right: -55px;
                margin-bottom: 0;
                margin-left: 0;
            }

            &_play {
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 2;

                display: block;

                width: 70px;
                height: 70px;
                margin: -35px 0 0 -35px;

                cursor: pointer;

                color: $white;

                & .icon {
                    font-size: 70px;
                }

                &:hover {
                    color: $yellow;
                    cursor: pointer;
                }
            }

            &_preview {
                position: relative;
                z-index: 1;

                width: 100%;
                height: 100%;

                opacity: .3;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                background-size: cover;
            }
        }
    }
}
