.footer {
    position: relative;

    overflow: hidden;

    padding: 30px 0;

    text-align: center;

    color: $white;
    background-color: #0b1228 !important;

    @include media-breakpoint-up(sm) {
        padding: 60px 15px 0;

        text-align: left;
    }

    

    & a {
        &:hover {
            text-decoration: none;

            color: $yellow;
        }
    }

    &_content {
        position: relative;
        z-index: 2;

        padding-top: 30px;
        padding-bottom: 30px;

        font-style: normal;
        font-weight: 300;
        font-size: 10px;
        line-height: 22px;
        font-stretch: normal;
    }

    &_copyrights {
        position: relative;
        z-index: 2;

        padding-top: 10px;
        padding-bottom: 30px;

        font-weight: 200;
        font-size: 30px;
        line-height: 1.67;
        font-family: $cinematografica-font;

        letter-spacing: 1.2px;
    }
}
