.header {
  $c: &;
  position: fixed;
  //top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  font-size: 14px;
  line-height: 1;
  font-family: 'Montserrat', sans-serif;
  color: $white;
  font-weight: 400;
  background-color: #f7f7f7;
  background-color: #0e1632;
  transition: all 0.1s linear;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0,0,0);
  margin-top: 0;
  -webkit-overflow-scrolling: touch;
  @include media-breakpoint-up(sm) {
    .light-theme & {
      border-bottom: 1px solid #d8d8d8;
    }
  }

  &.notvisible {
    //margin-top: -100px;
    transition: all 0.3s linear;
    transform: translate3d(0, -100%, 0);
  }

  & a {
    transition: all 0.5s ease-out;

    &:hover {
      text-decoration: none;
      color: $yellow-dark;
      transition: all 0.5s ease-out;
    }
  }

  &.dark-bg {
    color: $white;
    border-bottom-color: transparent;
    background-color: #0e1632;

    & .icon-logo-vector {
      // padding: 5px 0;
      color: $white;
      transition: color .2s ease;

      &:hover {
        color: $yellow;
      }
    }
  }

  &.top {
    // background-color: transparent;
  }

  &_index {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-family: 'Montserrat', sans-serif;

    #{$c} {
      & {
        font-size: 14px;
      }

      &-menu {
        &__list {
          & li {
            & a {
              display: block;
              @include media-breakpoint-up(sm) {
                padding: 19px 7px;
              }
              @include media-breakpoint-up(lg) {
                padding: 25px 30px;
              }

              &:hover {
                text-decoration: none;
                color: $white;
              }
            }

            &.current a {
              color: $white;
            }
          }
        }
      }

      &-burger {
        border-color: $white;

        & span {
          background-color: $white;
        }
      }
    }
  }

  &-logo {
    line-height: 40px;
    @include media-breakpoint-up(sm) {
      line-height: 65px;
    }
    

    & .icon {
      font-size: 24px;
      @include media-breakpoint-up(sm) {
        font-size: 32px;
      }
      @include media-breakpoint-up(lg) {
        font-size: 40px;
      }
    }
  }

  &-menu-wrap {
    position: relative!important;
    @include media-breakpoint-up(sm) {
      position: static!important;
    }
  }

  &-menu {
    display: none;
    @include media-breakpoint-up(sm) {
      display: flex;
      justify-content: center;
    }

    &_close {
      position: absolute;
      top: 20px;
      right: 20px;
      display: block;
      width: 24px;
      height: 40px;
      margin: 0;
      padding: 0;
      cursor: pointer;
      color: $yellow;
      border: none;
      background: url("../img/icons/close.svg") no-repeat 50% 50%;
      @include media-breakpoint-up(sm) {
        display: none;
      }
    }

    .menu-open & {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 600;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-content: center;
      width: 100%;
      height: 100%;
      min-height: 100vh;
      color: $white;
      background-color: #0e1632;

      &__list {
        display: flex;
        flex-flow: column;
        text-align: center;
        margin-left: 0;

        & a {
          padding-top: 15px;
          padding-bottom: 15px;
        }
      }
    }

    &__list {
      display: flex;
      flex-flow: row;
      justify-content: center;
      margin: 0;
      padding: 0;
      list-style: none outside;

      & li {
        & a {
          display: block;
          @include media-breakpoint-up(sm) {
            padding: 19px 7px;
          }
          @include media-breakpoint-up(lg) {
            padding: 25px 30px;
          }

          &:hover {
            text-decoration: none;
            color: $yellow-dark;
          }
        }

        &.current a {
          color: $yellow-dark;
        }
      }
    }
  }

  &-lang {
    display: block;
    align-self: center;
    margin-top: auto;
    margin-bottom: 40px;
    position: absolute;
    right: 15px;
    z-index: 10;
    width: 97px;
    text-align: center;
    @include media-breakpoint-down(xs) {
      right: auto;
      bottom: 100px;

      &.is-active {
        &:after {
          display: block;
          width: 100%;
          content: '';
          //background: #0a112a;
          position: absolute;
          top: -25px;
          left: 0;
          bottom: -40px;
          right: 0;
          z-index: -1;
        }
      }
    }
    @include media-breakpoint-up(sm) {
      display: block;
      margin-left: auto;
      margin-bottom: 0;
      width: auto;
    }

    &_btn {
      display: inline-block;
      transition: all 0.2s ease;
      @include media-breakpoint-up(sm) {
        padding: 19px 24px;
      }
      @include media-breakpoint-up(lg) {
        padding: 25px 24px;
      }

      &.is-active {
        color: #e48e3c;
        background: #fff;
      }

      .dark-bg &.is-active {
        color: #e48e3c;
        background: #0a112a;
      }
      @include media-breakpoint-down(sm) {
        &.is-active {
          color: #e48e3c;
          background: #0a112a;
        }
      }

      &:hover {
        color: #e48e3c;
      }
    }

    &__container {
      transition: all 0.2s ease-in-out;
      list-style: none;
      padding-left: 0;
      display: flex;
      margin-bottom: 0;

      @include media-breakpoint-down(sm) {
        transform: translate(-50%, 0%);
        left: 50%;
        bottom: 0;
        position: absolute;
        text-align: center;
        align-items: center;
        margin-bottom: 0;

        & li {
          width: 100%;
        }

        &.is-visible {
          transform: translate(-50%, -45px);
          width: 97px;
        }
      }
    }

    &__item {
      padding: 13px 24px;
      text-align: center;

      & a {
        display: inline-block;
        transition: color 0.2s ease;
        text-transform: uppercase;

        .dark-bg &:hover {
          color: #e48e3c;
        }

        &:hover {
          background: transparent;
        }
      }
    }
  }

  &-burger {
    position: relative;
    display: block;
    width: 25px;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 6px 0;
    border: none;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background: transparent;
    z-index: 20;
    @include media-breakpoint-up(sm) {
      display: none;
    }

    & span {
      display: block;
      width: 100%;
      height: 1px;
      background: #fff;
    }

    &:hover {
      border-top: 1px solid $yellow;
      border-bottom: 1px solid $yellow;

      & span {
        background: $yellow;
      }
    }

    .dark-bg & {
      border-top: 1px solid $yellow;
      border-bottom: 1px solid $yellow;

      & span {
        background: $yellow;
      }
    }
  }
}
