.section {
    overflow: hidden;

    background-color: #f7f7f7;

    @include media-breakpoint-up(sm) {
        padding-right: 15px;
        padding-left: 15px;
    }

    &.light-theme {
        color: #080e1d;
        background-color: #f7f7f7;
    }

    &.dark-theme {
        color: $white;
        background-color: #0e1632;
    }

    &-fluid {
        padding-right: 0;
        padding-left: 0;
    }

    &-pt-100 {
        padding-top: 100px;
    }
}
