// Ruble Simbol Font
$ruble-font: 'ALSRubl';
$montserrat-font: 'Montserrat';
$cinematografica-thin-font: 'cinematograficaextralight';
$cinematografica-font: 'cinematograficathin';

// Default Font
@mixin f-default {
	font-family: $montserrat-font, sans-serif;
	font-weight: 300;

    color: $white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
}

// @font-face {
//     font-family: $cinematografica-font;
//     src: url('../fonts/cinematografica-extralight-webfont.eot');
//     src: url('../fonts/cinematografica-extralight-webfont.eot?#iefix') format('embedded-opentype'),
//          url('../fonts/cinematografica-extralight-webfont.woff2') format('woff2'),
//          url('../fonts/cinematografica-extralight-webfont.woff') format('woff'),
//          url('../fonts/cinematografica-extralight-webfont.svg#cinematograficaextralight') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }

@font-face {
    font-family: $cinematografica-font;
    src: url('../fonts/cinematografica-thin.eot');
    src: url('../fonts/cinematografica-thin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cinematografica-thin.woff2') format('woff2'),
         url('../fonts/cinematografica-thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-style: normal;
    font-weight: 100;
    font-family: $montserrat-font;

    src: url('../fonts/Montserrat-Thin.eot');
    src: url('../fonts/Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-Thin.woff2') format('woff2'),
    url('../fonts/Montserrat-Thin.woff') format('woff');
}

/** Montserrat Thin-Italic **/
@font-face {
    font-style: italic;
    font-weight: 100;
    font-family: $montserrat-font;

    src: url('../fonts/Montserrat-ThinItalic.eot');
    src: url('../fonts/Montserrat-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-ThinItalic.woff2') format('woff2'),
    url('../fonts/Montserrat-ThinItalic.woff') format('woff');
}

/** Montserrat ExtraLight **/
@font-face {
    font-style: normal;
    font-weight: 200;
    font-family: $montserrat-font;

    src: url('../fonts/Montserrat-ExtraLight.eot');
    src: url('../fonts/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-ExtraLight.woff2') format('woff2'),
    url('../fonts/Montserrat-ExtraLight.woff') format('woff');
}

/** Montserrat ExtraLight-Italic **/
@font-face {
    font-style: italic;
    font-weight: 200;
    font-family: $montserrat-font;

    src: url('../fonts/Montserrat-ExtraLightItalic.eot');
    src: url('../fonts/Montserrat-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-ExtraLightItalic.woff2') format('woff2'),
    url('../fonts/Montserrat-ExtraLightItalic.woff') format('woff');
}

/** Montserrat Light **/
@font-face {
    font-style: normal;
    font-weight: 300;
    font-family: $montserrat-font;

    src: url('../fonts/Montserrat-Light.eot');
    src: url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-Light.woff2') format('woff2'),
    url('../fonts/Montserrat-Light.woff') format('woff');
}

/** Montserrat Light-Italic **/
@font-face {
    font-style: italic;
    font-weight: 300;
    font-family: $montserrat-font;

    src: url('../fonts/Montserrat-LightItalic.eot');
    src: url('../fonts/Montserrat-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-LightItalic.woff2') format('woff2'),
    url('../fonts/Montserrat-LightItalic.woff') format('woff');
}

/** Montserrat Regular **/
@font-face {
    font-style: normal;
    font-weight: 400;
    font-family: $montserrat-font;

    src: url('../fonts/Montserrat-Regular.eot');
    src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat-Regular.woff') format('woff');
}

/** Montserrat Regular-Italic **/
@font-face {
    font-style: italic;
    font-weight: 400;
    font-family: $montserrat-font;

    src: url('../fonts/Montserrat-Italic.eot');
    src: url('../fonts/Montserrat-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-Italic.woff2') format('woff2'),
    url('../fonts/Montserrat-Italic.woff') format('woff');
}

/** Montserrat Medium **/
@font-face {
    font-style: normal;
    font-weight: 500;
    font-family: $montserrat-font;

    src: url('../fonts/Montserrat-Medium.eot');
    src: url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-Medium.woff2') format('woff2'),
    url('../fonts/Montserrat-Medium.woff') format('woff');
}

/** Montserrat Medium-Italic **/
@font-face {
    font-style: italic;
    font-weight: 500;
    font-family: $montserrat-font;

    src: url('../fonts/Montserrat-MediumItalic.eot');
    src: url('../fonts/Montserrat-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-MediumItalic.woff2') format('woff2'),
    url('../fonts/Montserrat-MediumItalic.woff') format('woff');
}

/** Montserrat SemiBold **/
@font-face {
    font-style: normal;
    font-weight: 600;
    font-family: $montserrat-font;

    src: url('../fonts/Montserrat-SemiBold.eot');
    src: url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('../fonts/Montserrat-SemiBold.woff') format('woff');
}

/** Montserrat SemiBold-Italic **/
@font-face {
    font-style: italic;
    font-weight: 600;
    font-family: $montserrat-font;

    src: url('../fonts/Montserrat-SemiBoldItalic.eot');
    src: url('../fonts/Montserrat-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-SemiBoldItalic.woff2') format('woff2'),
    url('../fonts/Montserrat-SemiBoldItalic.woff') format('woff');
}

/** Montserrat Bold **/
@font-face {
    font-style: normal;
    font-weight: 700;
    font-family: $montserrat-font;

    src: url('../fonts/Montserrat-Bold.eot');
    src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-Bold.woff2') format('woff2'),
    url('../fonts/Montserrat-Bold.woff') format('woff');
}

/** Montserrat Bold-Italic **/
@font-face {
    font-style: italic;
    font-weight: 700;
    font-family: $montserrat-font;

    src: url('../fonts/Montserrat-BoldItalic.eot');
    src: url('../fonts/Montserrat-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-BoldItalic.woff2') format('woff2'),
    url('../fonts/Montserrat-BoldItalic.woff') format('woff');
}

/** Montserrat ExtraBold **/
@font-face {
    font-style: normal;
    font-weight: 800;
    font-family: $montserrat-font;

    src: url('../fonts/Montserrat-ExtraBold.eot');
    src: url('../fonts/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
    url('../fonts/Montserrat-ExtraBold.woff') format('woff');
}

/** Montserrat ExtraBold-Italic **/
@font-face {
    font-style: italic;
    font-weight: 800;
    font-family: $montserrat-font;

    src: url('../fonts/Montserrat-ExtraBoldItalic.eot');
    src: url('../fonts/Montserrat-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-ExtraBoldItalic.woff2') format('woff2'),
    url('../fonts/Montserrat-ExtraBoldItalic.woff') format('woff');
}

/** Montserrat Black **/
@font-face {
    font-style: normal;
    font-weight: 900;
    font-family: $montserrat-font;

    src: url('../fonts/Montserrat-Black.eot');
    src: url('../fonts/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-Black.woff2') format('woff2'),
    url('../fonts/Montserrat-Black.woff') format('woff');
}

/** Montserrat Black-Italic **/
@font-face {
    font-style: italic;
    font-weight: 900;
    font-family: $montserrat-font;

    src: url('../fonts/Montserrat-BlackItalic.eot');
    src: url('../fonts/Montserrat-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-BlackItalic.woff2') format('woff2'),
    url('../fonts/Montserrat-BlackItalic.woff') format('woff');
}

/* montserrat-300 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/montserrat-v14-latin_cyrillic-300.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Light'), local('Montserrat-Light'),
       url('../fonts/montserrat-v14-latin_cyrillic-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v14-latin_cyrillic-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v14-latin_cyrillic-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v14-latin_cyrillic-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v14-latin_cyrillic-300.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v14-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('../fonts/montserrat-v14-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v14-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v14-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v14-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v14-latin_cyrillic-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/montserrat-v14-latin_cyrillic-500.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Medium'), local('Montserrat-Medium'),
       url('../fonts/montserrat-v14-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v14-latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v14-latin_cyrillic-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v14-latin_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v14-latin_cyrillic-500.svg#Montserrat') format('svg'); /* Legacy iOS */
}
