.form {
    &-row {
        padding-top: 25px;
        padding-right: 0;
        padding-bottom: 25px;
        padding-left: 0;

        border-bottom: 1px solid rgba($black, .1);

        & .row {
            align-items: center;
        }

        @include media-breakpoint-up(sm) {
            padding-top: 25px;
            padding-right: 30px;
            padding-bottom: 25px;
            padding-left: 30px;
        }
    }
    &-controle {
        position: relative;

        & .messages {
            position: absolute;
            top: 0;
            right: 0;
            font-size: 30px;
            color: #e43c3c;
        }
    }
}

input::-moz-placeholder { color: rgba(#fff, 0.2); }
input::-webkit-input-placeholder { color: rgba(#fff, 0.2); }
input:-ms-input-placeholder { color: rgba(#fff, 0.2); }
input::-ms-input-placeholder { color: rgba(#fff, 0.2); }
input::placeholder { color: rgba(#fff, 0.2); } 


.checkbox {
    position: absolute;
    z-index: -1;

    opacity: 0;

    & + label {
        width: 45px;
        height: 35px;
        padding: 10px 5px;

        font-size: 14px;
        line-height: 1;

        cursor: pointer;
        text-align: center;

        border-radius: 20px;
        background-color: $white;
        border: 1px solid rgba(#000, 0.1);



        @include media-breakpoint-up(sm) {
            width: 50px;
            height: 40px;
            padding: 13px 10px;
        }

        @include media-breakpoint-up(md) {
            &:hover {
                color: $yellow;
            }
        }
    }

    &.checked + label, &[name="flats"]:checked + label {
        color: $white;
        background-color: $yellow;
        border: 1px solid $yellow;



        @include media-breakpoint-up(md) {
            &:hover {
                background-color: $white;
                border: 1px solid $white;
                color: $yellow;
            }
        }
    }
}

.checkbox-transparent {
    position: absolute;
    z-index: -1;

    opacity: 0;

    & + label {
        font-family: $cinematografica-font;

        font-size: 40px;
        line-height: 1;
        letter-spacing: 2.67px;

        cursor: pointer;
        text-align: center;
        color: #0e1632;
        opacity: 0.3;
    }

    &.checked + label {
        opacity: 1;
    }
}
