.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow-left {
	font-size:(10/10)*1rem;
	width:(46/10)*1em;
}
.icon-arrow-right {
	font-size:(11/10)*1rem;
	width:(46/11)*1em;
}
.icon-cakelab {
	font-size:(15/10)*1rem;
	width:(92/15)*1em;
}
.icon-capital {
	font-size:(40/10)*1rem;
	width:(84/40)*1em;
}
.icon-close {
	font-size:(41/10)*1rem;
	width:(26/41)*1em;
}
.icon-logo-vector {
	font-size:(58/10)*1rem;
	width:(170/58)*1em;
}
.icon-logo-vector-vertical {
	font-size:(127/10)*1rem;
	width:(97/127)*1em;
}
.icon-magnifier {
	font-size:(35/10)*1rem;
	width:(36/35)*1em;
}
.icon-play {
	font-size:(70/10)*1rem;
	width:(70/70)*1em;
}
