.table table {
    font-size: 30px;
    line-height: 1;
    font-family: $cinematografica-font;

    letter-spacing: 2px;

        min-width: 100%;
        margin-bottom: 25px;

        @include media-breakpoint-up(sm) {
            margin-bottom: 50px;
            font-size: 40px;
        }
        
    & th {
        padding: 20px 10px;

        font-weight: normal;

        color: rgba($black, .2);

        @include media-breakpoint-up(sm) {
            padding: 30px 25px;
        }
        @include media-breakpoint-up(xxl) {
            padding: 30px 50px;
        }

        &:first-of-type {
            padding-left: 0;
        }
    }
    & td {
        min-width: 20px;
        padding: 30px 20px;

        border: 1px solid rgba($black, .1);

        @include media-breakpoint-up(sm) {
            padding: 30px 25px;
        }
        @include media-breakpoint-up(xxl) {
            padding: 30px 50px;
        }

        &:first-of-type {
            padding-left: 0;

            border-left: none;
        }

        &:last-of-type {
            border-right: none;
        }
    }

    & tr {
        &:last-of-type td {
            border-bottom: none;
        }
    }
}

.table {
    & .mCSB_horizontal.mCSB_inside>.mCSB_container {
        margin-bottom: 0;
    }

    & .mCSB_dragger_bar {
        background-color: $yellow !important;
        height: 2px !important;
    }

    & .mCSB_draggerRail {
        background-color: $white !important;
        height: 5px !important;
        margin: 4px 0 !important;
    }
}
