.textfield {
    padding-bottom: 20px;
    & label {
        font-size: 30px;
        line-height: 1;
        letter-spacing: 2px;
        display: block;
        opacity: 0.3;
    }
    & input {
        display: block;
        border: solid 1px #161f3e;
        background-color: #0a112a;
        color: $white;
        padding: 18px 20px;
        font-size: 30px;
        line-height: 1;
        letter-spacing: 2px;
        width: 100%;
    }
    
    & textarea {
        display: block;
        border: solid 1px #161f3e;
        background-color: #0a112a;
        color: $white;
        resize: none;
        padding: 18px 20px;
        font-size: 30px;
        line-height: 1;
        letter-spacing: 2px;
        width: 100%;
        min-height: 323px;
    }
}

