
h1,
.h1 {
    margin-bottom: 20px;

    font-weight: 100;
    font-size: 70px;
    line-height: 100px;
    font-family: $cinematografica-font;

    letter-spacing: 2.8px;

    @include media-breakpoint-up(sm) {
        font-size: 100px;
        line-height: 100px;

        letter-spacing: 4px;
    }
}

h2,
.h2 {
    margin-bottom: 20px;

    font-weight: 100;
    font-size: 70px;
    line-height: 100px;
    font-family: $cinematografica-font;

    letter-spacing: 2.8px;

    @include media-breakpoint-up(sm) {
        font-size: 100px;
        line-height: 100px;

        letter-spacing: 4px;
    }
}

h3,
.h3 {
    font-weight: 300;
    font-size: 50px;
    line-height: 50px;
    font-family: $cinematografica-font;

    letter-spacing: 2px;
}

h4,
.h4 {
    font-size: 50px;
    line-height: 50px;
    font-family: $cinematografica-font;

    letter-spacing: 2px;
}

h5,
.h5 {
    font-size: 30px;
    line-height: 1;
    font-family: $cinematografica-font;

    letter-spacing: 1.2px;
}

strong,
b {
    font-weight: 700;
}

a {
    color: inherit;

    &:hover {
        color: inherit;
    }
}

.title {
    font-size: 40px;
    line-height: 1;
    font-family: $cinematografica-font;
    text-transform: uppercase;

    letter-spacing: 10px;

    margin-bottom: 25px;

    @include media-breakpoint-up(sm) {
        font-size: 80px;
        line-height: 1;
        letter-spacing: 20px;
        margin-bottom: 30px;
    }
}

h3.title {
    font-size: 40px;
    line-height: 1;
    font-family: $cinematografica-font;
    text-transform: uppercase;

    letter-spacing: 10px;

    margin-bottom: 25px;

    @include media-breakpoint-up(sm) {
        font-size: 50px;
        line-height: 1;
        letter-spacing: 8px;
        margin-bottom: 30px;
    }

    @include media-breakpoint-up(xl) {
        font-size: 80px;
        line-height: 1;
        letter-spacing: 20px;
        margin-bottom: 30px;
    }
}

.text_default {
    font-size: 14px;
    line-height: 23px;

    letter-spacing: .08em;
}

.text_small {
    font-size: 12px;
    line-height: 18px;

    letter-spacing: 0;

    @include media-breakpoint-up(sm) {
        font-size: 16px;
        line-height: 32px;

        letter-spacing: 0;
    }
}

.text_big {
    font-size: 40px;
    line-height: 1;
    font-family: $cinematografica-font;
    text-transform: uppercase;

    letter-spacing: 2px;

    @include media-breakpoint-up(sm) {
        font-size: 80px;
        line-height: 1;
        letter-spacing: 3.2px;
    }
}

.text-nowrap {
    white-space: nowrap;
}
