// Application style
@at-root {
    @-ms-viewport {
        width: device-width;
    }
}

html {
    box-sizing: border-box;

    -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

@import './node_modules/bootstrap/scss/functions';
@import 'helpers/variables';
@import 'helpers/fonts';
@import './node_modules/bootstrap/scss/mixins';
@import './node_modules/bootstrap/scss/reboot';

@import './node_modules/bootstrap/scss/mixins/breakpoints';
@import './node_modules/bootstrap/scss/mixins/grid-framework';
@import './node_modules/bootstrap/scss/mixins/grid';

@import './node_modules/bootstrap/scss/grid';
@import './node_modules/bootstrap/scss/utilities/display';
@import './node_modules/bootstrap/scss/utilities/flex';
@import './node_modules/bootstrap/scss/utilities/text';
@import './node_modules/bootstrap/scss/buttons';

@import './node_modules/aos/src/sass/aos';

body {
    @include f-default;

    @extend .text_small;



    color: #080e1d;

    -webkit-overflow-scrolling: touch;
    overflow: scroll;

    &.light-theme {
        color: #080e1d;
        background-color: #f7f7f7;
    }

    &.menu-open,
    &.orderform-open,
    &.advantage-open,
    &.parking-open,
    &.no-scroll {
        overflow: hidden;
    }

    & a {
        &:hover {
            text-decoration: none;
            color: $yellow;
            cursor: pointer;
        }
    }

    position: relative;

    &:not(.index):after {
        content: '';

        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;

        display: block;

        width: 100%;
        height: 894px;

        background: url('../img/lines.png') no-repeat 0 100%;
    }
}

.container {
    // max-width: 1520px !important;

    @include media-breakpoint-up(xxl) {
        padding-left: 50px;
        padding-right: 50px;
    }
}

.wrapper {
    overflow: hidden;
}

strong,
b {
    font-weight: 600;
}

p {
    margin-bottom: 30px;

    @include media-breakpoint-up(sm) {
        margin-bottom: 40px;
    }
    @include media-breakpoint-up(lg) {
        margin-bottom: 35px;
    }
    @include media-breakpoint-up(xl) {
        margin-bottom: 35px;
    }
}

img,
video,
audio {
    max-width: 100%;
    height: auto;
    margin-bottom: ($spacer * 2);

    &.no-margin {
        margin: 0;
    }
}

button,
.btn {
    &:active,
    &:focus {
        box-shadow: none !important;
        outline: none;
    }
}

@import 'helpers/type';
@import 'helpers/sprite';
@import 'helpers/table';
@import 'helpers/form';
@import 'helpers/textfield';

@import 'layout/cakelab';
@import 'layout/footer';
@import 'layout/header';
@import 'layout/section';

@import 'components/about';
@import 'components/advantages';
@import 'components/articles';
@import 'components/building';
@import 'components/carousel';
@import 'components/contacts';
@import 'components/content';
@import 'components/filter';
@import 'components/flat';
@import 'components/gallery';
@import 'components/managers';
@import 'components/map';
@import 'components/panel';
@import 'components/panorama';
@import 'components/popup-flat';
@import 'components/popup-orderform';
@import 'components/popup-parking';
@import 'components/progress';
@import 'components/location';
@import 'components/social-link';
@import 'components/switch';
@import 'components/timeline';
@import 'components/video';
@import 'components/index';

@import 'components/errorpage';

@import 'vendors/owl.carousel';
@import 'vendors/plyr';
@import 'vendors/scrollbar';
@import 'vendors/nouislider';
@import 'vendors/jquery.fancybox';
@import 'vendors/fullpage.min';

.custom {
    &--right-image {
        //height: 900px;
        margin-bottom: 100px;

        @include media-breakpoint-down(md) {
            height: auto;
        }
    }
    &__image-slider {
        display: flex;
        position: relative;
        right: 0;
        width: calc(50% + 0px);
        max-width: 100%;
        z-index: 14;

        @include media-breakpoint-down(lg) {
            width: 100%;
            margin: 0 auto 60px;
        }

        @include media-breakpoint-down(md) {
            bottom: 0;
            right: 0!important;
        }
    }
    &__image-container {
        display: flex;
        position: relative;
        height: 900px;
        right: 0;
        width: calc(50% + 0px);
        overflow: hidden;
        max-width: 100%;

        @include media-breakpoint-down(lg) {
            height: 600px;
            max-width: 720px;
            margin: 0 auto;


        }
        @include media-breakpoint-down(md) {
            width: 100%;
            bottom: 0;
            right: 0!important;
            height: auto;
            padding-bottom: 112.5%;
            & .custom__image {
                left: 50%;
                transform: translateX(-50%);
            }

        }

        @include media-breakpoint-down(sm) {

            & .custom__image {
                right: auto;
                top: 0;
                left: 0;
                transform: translateX(0);
            }
        }
    }

    &__image {
        position: absolute;
        right: 0;
        margin-bottom: 0;
    }
}

.container {
    .custom__image-container {
        right: -75px;
        max-width: none;
    }
}

.custom-pan {
    width: 100%;
    padding-bottom: 56.25%;
    position: relative;
    overflow: hidden;
    //margin: 0 0 50px;


    .custom-pan__image {
        background-position: top center;
        background-size: cover;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        position: absolute;
    }

    .custom-pan__vector {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-position: top center;
        background-repeat: no-repeat;
        background-size: 100%;
        transition: all 0s linear;
        transform: scale(1);
        opacity: 1;

        &.come-in {
            transform: scale(5);
            opacity: 0;
            transition: all 1s linear;
        }
    }
}

.custom__image-slide {
    & img {
        margin-bottom: 0;
    }
}
.card-carousel {
    overflow: visible;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transform: translateX(25%);
    transition: all .6s ease-in-out;

    @include media-breakpoint-down(lg) {
        transform: translateX(0);
    }

    @include media-breakpoint-down(md) {
        transition: none;
    }

    &.is-active {
        position: relative;
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
    }

    &__inner {
        height: 100%;
    }

    &__nav {
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateX(-50%);

        @include media-breakpoint-down(lg) {
            left: 50%;
            transform: translateX(-50%);
        }
        &.owl-carousel_nav {
            display: flex;
            justify-content: space-between;

            width: 216px;
            margin: 0 auto;
            margin-bottom: 25px;
            padding: 17px 28px;

            font-size: 40px;
            line-height: 1;
            font-family: $cinematografica-font;

            letter-spacing: 2.67px;

            background-color: $white;

            @include media-breakpoint-up(sm) {
                width: 320px;

                font-size: 80px;
                line-height: 1;

                letter-spacing: 5.33px;

                background-color: transparent;
            }

            &-inside {
                z-index: 15;

                display: flex;
                justify-content: center;

                margin-top: -35px;
                margin-bottom: 0;

                font-size: 20px;
                padding: 7px 12px 0;
                width: 122px;
                height: 35px;

                background-color: $white;

                & .owl-carousel_nav_btn {
                    width: 23px;
                    background-size: 23px;
                    background-repeat: no-repeat;
                    background-position: center;
                    margin-top: -5px;
                    cursor: pointer;

                    &.owl-carousel_nav_btn-prev {
                        margin-right: auto;
                        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzEiIGhlaWdodD0iMTEiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0yLjMwNiA2LjMzbDMuNzc4NyAzLjc3ODctLjcwNy43MDcxTC4yOTMgNS43MzEyIDUuMzc3Ni42NDY1bC43MDcxLjcwN0wyLjEwODMgNS4zM2gyOC44OTE4djFIMi4zMDYxeiIgZmlsbD0iIzM2MkQ0QyIvPjwvc3ZnPg==);
                    }

                    &.owl-carousel_nav_btn-next {
                        margin-left: auto;
                        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzEiIGhlaWdodD0iMTEiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0yOC45ODY5IDYuMzNsLTMuNzc4NyAzLjc3ODcuNzA3MS43MDcxTDMxIDUuNzMxMiAyNS45MTUzLjY0NjVsLS43MDcxLjcwN0wyOS4xODQ3IDUuMzNILjI5Mjl2MWgyOC42OTR6IiBmaWxsPSIjMzYyRDRDIi8+PC9zdmc+);
                    }

                }

                @include media-breakpoint-up(sm) {
                    padding: 16px 32px 0;
                    width: 216px;
                    height: 75px;

                    font-size: 40px;
                    line-height: 1;

                    & .owl-carousel_nav_btn {
                        width: 30px;
                        background-size: 30px;
                        margin-top: -10px;
                    }
                }
            }

            &-location {
                position: relative;
                z-index: 10;

                margin-top: 0px;
                margin-bottom: 0;

                font-size: 40px;
                line-height: 1;

                background-color: $white;

                @include media-breakpoint-up(sm) {
                    margin-top: -80px;
                    width: 220px;

                    font-size: 40px;
                    line-height: 1;

                    & .owl-carousel_nav_btn {
                        width: 30px;
                    }
                }
            }

            & img {
                margin: 0;
            }

            &_btn {
                width: 30px;

                cursor: pointer;

                @include media-breakpoint-up(sm) {
                    width: 45px;
                }
            }

            &_count {
                color: rgba($black, .2);

                &_current {
                    color: #0e1632;
                }
            }
        }
    }


}

.view-mobile {
    display: none;

    @include media-breakpoint-down(sm) {
        display: block;
    }

    .checkbox+label {
        margin-bottom: 0;
    }

    .filter-form_title {
        margin-bottom: .5rem;
    }

}

.view-desktop {
    display: none;
    position: relative;

    @include media-breakpoint-up(md) {
        display: block;
    }
}

.flat-design {
    padding: 0 50px;
}

.disable-hover {
    pointer-events: none;
}


@keyframes flipOutX {
    from {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }

    30% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        opacity: 1;
    }

    to {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        opacity: 0;
    }
}

.flipOutX {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-name: flipOutX;
    animation-name: flipOutX;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    transform-origin: top;
}
