//- 404.jade
- var curPage = '404';
include jade/_mixins

doctype html
html
    include jade/layout/head
    body
        .wrapper
            include jade/layout/header
            .section.section-fluid.dark-theme
                .building-model#buildingmodel
                    .errorpage_content
                        .errorpage_title
                            | 404
                        p
                            | If you entered a web address please check it was correct. You can also search from the homepage to find the information you need.
                        
                        a(href="/").errorpage_link
                            | Home page
                    
                    .building-model_webgl#webgl(style="transform: translateY(0);")
            include jade/layout/panel
        include jade/layout/scripts
        include jade/layout/webgl.html