//- about.jade
- var curPage = 'About';
include jade/_mixins

doctype html
html
    include jade/layout/head
    body.light-theme
        include jade/layout/header
        .wrapper
            .section.about-page
                .container
                    .content-section
                        .row.justify-content-sm-center
                            .col-12.col-sm-11.col-md-8.col-xl-6.text-sm-center(data-aos="fade-left")
                                h1.title.text-center
                                    | High quality
                                p
                                    | Dear site visitors! Please note that all information provided on this site is for informational purposes only, is not an offer or a public offer in accordance with art. 435, paragraph 2 of Art. 437 of the Civil Code of the Russian Federation. 
                .container-fluid
                    .content-section
                        .row.no-qutters
                            .col-12(data-aos="zoom-in")
                                .carousel
                                    .owl-carousel
                                        .owl-carousel_item(data-index="0", style="background-image: url('img/content/gallery1.png')")
                                        .owl-carousel_item(data-index="1", style="background-image: url('img/content/gallery1.png')")
                                        .owl-carousel_item(data-index="2", style="background-image: url('img/content/gallery1.png')")
                                        .owl-carousel_item(data-index="3", style="background-image: url('img/content/gallery1.png')")
                                        .owl-carousel_item(data-index="4", style="background-image: url('img/content/gallery1.png')")
                                    .owl-carousel_nav
                                        .owl-carousel_nav_btn.owl-carousel_nav_btn-prev
                                            img(src="img/icons/arrow-left.svg", alt="")
                                        .owl-carousel_nav_count
                                            span.owl-carousel_nav_count_current
                                                | 1
                                            span
                                                |  / 
                                            span.owl-carousel_nav_count_total
                                                | 5
                                        .owl-carousel_nav_btn.owl-carousel_nav_btn-next
                                            img(src="img/icons/arrow-right.svg", alt="")
                .container
                    .content-section
                        .row.justify-content-sm-center
                            .col-12.col-md-12.col-xxl-7(data-aos="fade-right")
                                h2.title
                                    | Title one
                                p
                                    | Suurepärane asukoht, Tipparhitektuur Hoolikalt läbi mõeldud planeeringud ja ajatu siseviimistlus Paindlikud lahendused äripindade kujundamisel Maast laeni aknad, kõrged laed, palju loomulikku valgust Energiasäästlikud lahendused Panoraamvaated Tallinnale Haljastatud katuseterrassid ja rõdud Esinduslik fuajee, eraldi sissepääsud äripindadele ja korteritele Mugav majasisene logistika Kiire ligipääs erinevatest sõidusuundadest Automatiseeritud kütte, ventilatsiooni, jahutuse  valgustuse lahendused Kõrge ehituskvaliteet  Suurepärane asukoht, Tipparhitektuur Hoolikalt läbi mõeldud planeeringud ja ajatu siseviimistlus Paindlikud lahendused äripindade kujundamisel Maast laeni aknad, kõrged laed, palju loomulikku valgust Energiasäästlikud lahendused Panoraamvaated Tallinnale Haljastatud katuseterrassid ja rõdud Esinduslik fuajee, eraldi sissepääsud äripindadele ja korteritele Mugav majasisene logistika Kiire ligipääs erinevatest sõidusuundadest Automatiseeritud kütte, ventilatsiooni, jahutuse  valgustuse lahendused Kõrge ehituskvaliteet  Suurepärane asukoht, Tipparhitektuur Hoolikalt läbi mõeldud planeeringud ja ajatu siseviimistlus
                    
                    .content-section
                        .row
                            .col-12
                                .table(data-aos="zoom-in")
                                    .js-scrollbar-horizontal
                                        table
                                            tr
                                                th
                                                    | Column One
                                                th
                                                    | Second column
                                                th
                                                    | Third
                                                th
                                                    | 4
                                                th
                                                    | Square
                                                th
                                                    | Balcony
                                                th
                                                    | Price
                                                th
                                                    | VIew
                                            - var x = 4;
                                            - for (var i=1; i<=x; i++) {
                                                tr
                                                    td
                                                        | 147m²
                                                    td
                                                        | 12.3m²
                                                    td
                                                        | 52
                                                    td
                                                        | 3
                                                    td
                                                        | 147m²
                                                    td
                                                        | 12.3m²
                                                    td.text-nowrap
                                                        | 45 500 $
                                                    td.text-nowrap
                                                        | Pärnu maantee
                                            - }
                                    
                                    
                    
                    .content-section
                        .row
                            .col-12.col-sm-4(data-aos="fade-left")
                                .about-content_desc
                                    h3
                                        | Architecture
                                    p
                                        | Suurepärane asukoht, Tipparhitektuur Hoolikalt läbi mõeldud planeeringud ja ajatu siseviimistlus Paindlikud lahendused äripindade kujundamisel Maast laeni aknad, kõrged laed, palju loomulikku valgust Energiasäästlikud lahendused Panoraamvaated Tallinnale Haljastatud katuseterrassid ja rõdud Esinduslik fuajee, eraldi sissepääsud äripindadele ja korteritele Mugav majasisene logistika Kiire ligipääs erinevatest sõidusuundadest Automatiseeritud kütte, ventilatsiooni, jahutuse  valgustuse lahendused Kõrge 
                            .col-12.col-sm-4(data-aos="fade-left",data-aos-delay="200")
                                .about-content_desc
                                    h3
                                        | Panoramic views of Tallinn
                                    p
                                        | Suurepärane asukoht, Tipparhitektuur Hoolikalt läbi mõeldud planeeringud ja ajatu siseviimistlus Paindlikud lahendused äripindade kujundamisel Maast laeni aknad, kõrged laed, palju loomulikku valgust Energiasäästlikud lahendused Panoraamvaated Tallinnale Haljastatud katuseterrassid ja rõdud Esinduslik fuajee, eraldi sissepääsud äripindadele ja korteritele Mugav majasisene logistika Kiire ligipääs erinevatest sõidusuundadest Automatiseeritud kütte, ventilatsiooni, jahutuse  valgustuse lahendused Kõrge 
                            .col-12.col-sm-4(data-aos="fade-left",data-aos-delay="400")
                                .about-content_desc
                                    h3
                                        | Carefully designed plans and timeless interior finishing
                                    p
                                        | korteritele Mugav majasisene logistika Kiire ligipääs erinevatest sõidusuundadest Automatiseeritud kütte, ventilatsiooni, jahutuse  valgustuse lahendused Kõrge ehituskvaliteet  Suurepärane asukoht, Tipparhitektuur Hoolikalt läbi mõeldud planeeringud ja ajatu siseviimistlus Paindlikud lahendused äripindade kujundamisel Maast laeni aknad


                    .content-section.relative

                        .row.align-items-lg-center.custom.custom--right-image(data-aos="fade-right")

                            .custom__image-container.order-lg-2
                                img.custom__image(src='img/content/about1.png', alt='')
                            .col-12.col-lg-6.order-2.order-lg-1
                                .gallery-content
                                    h2.title
                                        | Interior design
                                    p
                                        | Suurepärane asukoht, Tipparhitektuur Hoolikalt läbi mõeldud planeeringud ja ajatu siseviimistlus Paindlikud lahendused äripindade kujundamisel Maast laeni aknad, kõrged laed, palju loomulikku valgust Energiasäästlikud lahendused Panoraamvaated Tallinnale Haljastatud katuseterrassid ja rõdud Esinduslik fuajee, eraldi sissepääsud äripindadele ja korteritele Mugav majasisene logistika Kiire ligipääs erinevatest sõidusuundadest Automatiseeritud kütte, ventilatsiooni, jahutuse  valgustuse lahendused Kõrge ehituskvaliteet  Suurepärane asukoht, Tipparhitektuur Hoolikalt läbi mõeldud planeeringud ja ajatu siseviimistlus Paindlikud lahendused äripindade kujundamisel Maast laeni aknad, kõrged laed, palju loomulikku valgust Energiasäästlikud lahendused Panoraamvaated Tallinnale Haljastatud katuseterrassid ja rõdud Esinduslik fuajee, eraldi 

                    .content-section
                        .row.justify-content-sm-center 
                            .col-12.col-md-8.col-xl-6.text-sm-center(data-aos="fade-left")
                                h2.title.text-center
                                    | Statistic
                                p
                                    | Dear site visitors! Please note that all information provided on this site is for informational purposes only, is not an offer or a public offer in accordance with art. 435, paragraph 2 of Art. 437 of the Civil Code of the Russian Federation. 
                    .content-section
                        .row.justify-content-sm-center
                            .col-12.col-sm-8.col-md-8.col-lg-6.col-xxl-4.text-sm-center
                                .row.justify-content-between
                                    .col-auto(data-aos="fade-right",data-aos-delay="400")
                                        .text_big
                                            | 20000 m
                                            sup
                                                | 2
                                        p
                                            | Parking area
                                    .col-auto(data-aos="fade-right",data-aos-delay="200")
                                        .text_big
                                            | 20000 m
                                            sup
                                                | 3
                                        p
                                            | Storage area
                                    .col-auto(data-aos="fade-right")
                                        .text_big
                                            | 1000
                                        p
                                            | Rooms




            include jade/components/about
        include jade/layout/footer
        include jade/layout/scripts