//- burolist.jade
- var curPage = 'Buro list';
include jade/_mixins

doctype html
html
    include jade/layout/head
    body.light-theme
        include jade/layout/header
        .wrapper
            .section.section-fluid.dark-theme

                .building
                    .building_pic-title.building_pic-title--buro
                        | Retail and Offices
                    .building_pic_mask
                        include jade/svg/tower-buro-flats.svg
                    img(src="img/building.jpg", alt="").building_pic
                    .building_outline-buro
                        svg(width='', height='', viewBox='0 0 669 251', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(d='M276.692 89.4801L276.691 99.164L276.747 104.495L182.202 144.873L148.808 120.264L145.714 121.738L122.79 104.981L110.288 109.169L98.7749 99.164L97.2537 100.114L58.7524 69.8345V53.4599L36.8235 36.1523V31.0014L3 4L10.4682 109.169L41.5297 133.901V140.066L100.992 190.027L107.584 188.043L145.714 224.351H152.853L182.202 247.95L277.819 206.584L373.64 175.768L382.692 185.028L427.525 172.224L432.3 177.063L479.804 165.863L487.658 172.224L542.991 159.768V149.53L595.854 136.742V131.105L654.029 116.859L655.68 105.507L652.146 99.5391L667.116 18.5837L608.306 30.3678V35.8859L558.674 46.7809L558.057 48.4541L560.755 51.5613V54.9711L558.057 56.2884V58.4269L496.149 71.7636L487.658 63.7819L442.549 74.8991L438.327 71.7636L391.175 81.5841L379.097 67.671L335.985 11.8067L328.878 17.2257L288.709 4.00012H279.425V8.36975L282.064 14.4957L279.425 17.8863V30.3678L283.171 35.8859L277.819 40.6861V54.2706L283.992 59.9669L277.819 63.7819V78.1446L282.064 85.0133L276.692 89.4801Z', stroke='white', stroke-width='4', stroke-miterlimit='50')

            .section.section-fluid
                .filter-view
                    .switch.switch-big
                        input(type="checkbox",name="view",value="1").switch_dn.filter-view-switch#dn
                        label(for="dn",data-before="List",data-after="Plan").switch_toggle
                            .switch_toggle__handler
            .section.section-fluid.filter-views#filter-views
                .filter-views_item.show(data-type="list")
                    .row.no-gutters(style="min-height: 1070px")
                        .col-12.col-xl-8.flat-list-outer
                            .flat-list
                                table.fix-head
                                    thead
                                        tr.flat-list-head
                                            th.flat-list-head_item.fl-no
                                                | No.
                                            th.flat-list-head_item.fl-tower
                                                | Tower
                                            th.flat-list-head_item.fl-floor
                                                | Floor
                                            th.flat-list-head_item.fl-rooms
                                                | Rooms
                                            th.flat-list-head_item.flat-list-head_item-sort.js-filter-sort.fl-square(data-sort="square",data-sortdir="asc")
                                                | Square
                                            th.flat-list-head_item.flat-list-head_item-sort.js-filter-sort.is-active.fl-price(data-sort="price",data-sortdir="asc")
                                                | Price
                                            th.flat-list-head_item.fl-view
                                                | Status

                                    tbody.flat-list-data(data-type="buro")

                        .col-12.col-xl-4.flat-filter
                            button(type="button",onClick="filter.openFilter(); return false;").filter-btn
                                | Filter
                            .filter
                                button(type="button",onClick="filter.hideFilter(); return false;").filter-btn_close
                                .filter-content
                                    form(action="",data-page="buro")
                                        .form-row
                                            .row
                                                .col-12.col-sm-auto
                                                    .filter-form_title
                                                        | Floor
                                                .col-12.col-sm
                                                    .filter-form_slider
                                                        .form-slider.js-range-slider#floors-slider(data-param="floor",data-rangemin="1",data-rangemax="4")
                                        .form-row
                                            .row
                                                .col-12.col-sm-auto
                                                    .filter-form_title
                                                        | Price
                                                .col-12.col-sm
                                                    .filter-form_slider
                                                        .form-slider.js-range-slider#price-slider(data-param="price",data-rangemin="1000",data-rangemax="1000000",data-step="500",data-suffix=" $")

                                    .filter-amount
                                        .row.no-gutters.justify-content-between
                                            .col
                                                .filter-amount_text
                                                    | Found
                                                    span.js-filter-amount
                                                        | 0
                                                    |  apartments
                                            .d-none.d-xl-block.col-auto
                                                button(type="button").filter-amount_btn.js-filter-reset
                                                    | Reset filters

                                            .d-xl-none.col-auto
                                                button(type="button").filter-amount_btn.filter-amount_btn-reset.js-filter-reset
                                                    | Reset
                                                button(type="button",onClick="filter.hideFilter(); return false;").filter-amount_btn.filter-amount_btn-show
                                                    | Show

                            .filter-additional-amount
                                .row.no-gutters.align-items-center
                                    .col.col-sm-3.col-xxl-4
                                        .filter-additional-amount_item
                                            | + 20 000 $
                                            .filter-additional-amount_item_label
                                                | Parking
                                    .col.col-sm-4.col-xxl-4
                                        .filter-additional-amount_item
                                            | + 20 000 $
                                            .filter-additional-amount_item_label
                                                | Storage room
                                    .col-auto
                                        a(href="#").js-popup-parking
                                            | More info

                .filter-views_item(data-type="plan")
                    .filter-views_plan-container
                        .popup-flat_plan_compas
                        .row.no-gutters.align-items-center
                            .col-auto
                                .filter-views_plan-container_street
                                    | Saku
                            .col
                                .filter-views_plan-container_street.horizontal
                                    | Pärnu maantee
                                .filter-views_plan-container_scheme
                                    .filter-views_plan-container_scheme_mask
                                        include jade/svg/floorplan.svg
                                    .filter-views_plan-container_scheme_plan
                                        img(src="img/content/floor-test-bg.svg", alt="").js-floorplan
                                .filter-views_plan-container_street.horizontal
                                    | Pärnu maantee
                            .col-auto
                                .filter-views_plan-container_street
                                    | Kohila

            include jade/components/about
        include jade/layout/footer
        include jade/components/buro
        include jade/layout/scripts
