//- contacts.jade
- var curPage = 'Contacts';
include jade/_mixins

doctype html
html
    include jade/layout/head
    body
        include jade/layout/header
        .wrapper
            .section.contacts-container
                .container
                    .row.align-items-xl-center
                        .col-12.col-xl-5.col-xxl-4.order-2.order-xl-1
                            .contacts-data
                                .contacts-data_label
                                    | Sales Address
                                .contacts-data_content
                                    | Hallivanamehe 4/6 floor
                            .contacts-data
                                .contacts-data_label
                                    | Email
                                .contacts-data_content
                                    a(href="mailto:office@triplenetcapital.eu")
                                        | office@triplenetcapital.eu
                            .contacts-data
                                .contacts-data_label
                                    | Phone
                                .contacts-data_content
                                    a(href="tel:+3726464170")
                                        | + 372 646 4170

                        .col-12.col-xl-7.col-xxl-7.offset-xxl-1.order-1.order-xl-2
                            .row.justify-content-xxl-between.no-gutters
                                .col-6.col-sm-6.col-xxl-auto
                                    .managers.managers_contacts
                                        .managers_avatar
                                            img(src="img/content/manager1.jpg", alt="").no-margin
                                        .row
                                            .col-12.col-lg
                                                .managers_position
                                                    .managers_text
                                                        .h3
                                                            | Sigrid
                                                        p
                                                            | Manager
                                            .col-12.col-lg-auto
                                                .managers_text.text-lg-right
                                                    .h3
                                                        a(href="tel:+372646")
                                                            | + 372 646
                                                    p
                                                        a(href="mailto:office@vector.com")
                                                            | office@vector.com
                                .col-6.col-sm-6.col-xxl-auto
                                    .managers.managers_contacts
                                        .managers_avatar
                                            img(src="img/content/manager2.jpg", alt="").no-margin
                                        .row
                                            .col-12.col-lg
                                                .managers_position
                                                    .managers_text
                                                        .h3
                                                            | Sigrid
                                                        p
                                                            | Manager
                                            .col-12.col-lg-auto
                                                .managers_text.text-lg-right
                                                    .h3
                                                        a(href="tel:+372646")
                                                            | + 372 646
                                                    p
                                                        a(href="mailto:office@vector.com")
                                                            | office@vector.com
            .section.light-theme.content
                .container
                    .row
                        .col-12
                            h1.title.text-center
                                | Müügitingimused
                        .col-12.col-sm-4.text-sm-center
                            h3
                                | Sweadbank
                            p
                                | Suurepärane asukoht, Tipparhitektuur Hoolikalt läbi mõeldud planeeringud ja ajatu siseviimistlus Paindlikud lahendused äripindade kujundamisel Maast laeni aknad, kõrged laed, palju loomulikku valgust Energiasäästlikud lahendused Panoraamvaated Tallinnale Haljastatud katuseterrassid ja rõdud Esinduslik fuajee, eraldi sissepääsud äripindadele ja korteritele Mugav majasisene logistika Kiire ligipääs erinevatest sõidusuundadest
                        .col-12.col-sm-4.text-sm-center
                            h3
                                | LHV
                            p
                                | Suurepärane asukoht, Tipparhitektuur Hoolikalt läbi mõeldud planeeringud ja ajatu siseviimistlus Paindlikud lahendused äripindade kujundamisel Maast laeni aknad, kõrged laed, palju loomulikku valgust Energiasäästlikud lahendused Panoraamvaated Tallinnale Haljastatud katuseterrassid ja rõdud Esinduslik fuajee, eraldi sissepääsud äripindadele ja korteritele Mugav majasisene logistika Kiire ligipääs erinevatest sõidusuundadest
                        .col-12.col-sm-4.text-sm-center
                            h3
                                | Citadele
                            p
                                | Suurepärane asukoht, Tipparhitektuur Hoolikalt läbi mõeldud planeeringud ja ajatu siseviimistlus Paindlikud lahendused äripindade kujundamisel Maast laeni aknad, kõrged laed, palju loomulikku valgust Energiasäästlikud lahendused Panoraamvaated Tallinnale Haljastatud katuseterrassid ja rõdud Esinduslik fuajee, eraldi sissepääsud äripindadele ja korteritele Mugav majasisene logistika Kiire ligipääs erinevatest sõidusuundadest

        include jade/layout/footer
        include jade/layout/scripts
