//- flatlist.jade
- var curPage = 'Flat list';
include jade/_mixins

doctype html
html
    include jade/layout/head
    body.light-theme
        include jade/layout/header
        .wrapper
            .section.section-fluid.dark-theme
                .building
                    .building_pic-title.building_pic-title--tower1
                        | Tower 1
                        .building_pic-title_desc
                            | 89 flats available
                    .building_pic-title.building_pic-title--tower2
                        | Tower 2
                        .building_pic-title_desc
                            | 75 flats available
                    .building_pic_mask
                        include jade/svg/tower-flats.svg
                    .building_outline-flats
                        svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 726 476')
                            g
                                g
                                    path(fill='none', stroke='#fff', stroke-miterlimit='50', stroke-width='4', d='M293.023 438.029L200.683 473l-33.394-23.573-3.094.777-22.921-17.715-12.505 3.21-10.084-8.077-2.95 1-38.502-29.371v-18.446l-21.928-15.914v-5.93L21.48 333.28l-5.153-50.363-5.218-64.116 4.043-2.077-2.685-37.353-5.393-3.258L2 95.024l20.918-7.334-1.437-54.17 1.437-1.976L116.992 3l62.183 37.679 12.868-2.969 21.087 12.25 16.764-12.25 42.884 26.444v22.33l15.21 10.01v17.17L306 126.11v41.355l-3.942 3.193.8 19.078 2.31 2.659v2.854l-3.11 1.726v16.866l2.315 2.885v4.295l-2.315 1.315-1.1 18.236 3.415 3.697v2.782l-3.414 18.335 3.414 2.484v3.714l-4.212 2.616v16.194l2.697 5.055v19.797H306v3.394l-7.491 3.271v16.637l2.45 1.913v4.052l-3.819 1.858v14.709l3.021 1.81v4.669l-3.02 1.967v15.493l1.368.757v6.283l-2.383 1.815v34.749l2.383 2.541v5.536zm75.835-284.48l41.797-9.448v-8.336l136.144-29.56 6.938 6.091L644.106 95l31.983 26.61 13.09-2.644L723 148.973 686.598 348l-58.811 11.784v5.518l-49.633 10.895-.617 1.673 2.699 3.107v3.41l-2.699 1.317v2.139L515.63 401.18l-8.492-7.982-45.109 11.117-4.221-3.135-47.153 9.82L359 350.954z')


                    img(src="img/building.jpg", alt="").building_pic
            .section.section-fluid
                .filter-view
                    .switch.switch-big
                        input(type="checkbox",name="view").switch_dn.filter-view-switch#dn
                        label(for="dn",data-before="List",data-after="Plan").switch_toggle
                            .switch_toggle__handler
            .section.section-fluid.filter-views#filter-views
                .filter-views_item.show(data-type="list")
                    .row.no-gutters(style="min-height: 1070px")
                        .col-12.col-xl-8.flat-list-outer
                            .flat-list
                                table.fix-head
                                    thead
                                        tr.flat-list-head
                                            th.flat-list-head_item.fl-tower
                                                | Tower
                                            th.flat-list-head_item.flat-list-head_item-sort.fl-floor.js-filter-sort(data-sort="floor",data-sortdir="asc")
                                                | Floor
                                            th.flat-list-head_item.flat-list-head_item-sort.fl-no.js-filter-sort.is-active(data-sort="number",data-sortdir="desc")
                                                | No.
                                            th.flat-list-head_item.flat-list-head_item-sort.fl-rooms.js-filter-sort(data-sort="rooms",data-sortdir="asc")
                                                | Rooms
                                            th.flat-list-head_item.flat-list-head_item-sort.js-filter-sort.fl-square(data-sort="square",data-sortdir="asc")
                                                | Square
                                            th.flat-list-head_item.fl-balcony
                                                | Balcony
                                            th.flat-list-head_item.flat-list-head_item-sort.js-filter-sort.fl-price(data-sort="price",data-sortdir="asc")
                                                | Price
                                            th.flat-list-head_item.fl-view
                                                | View

                                    tbody.flat-list-data(data-type="flat")

                        .col-12.col-xl-4.flat-filter
                            button(type="button",onClick="filter.openFilter(); return false;").filter-btn
                                | Filter
                            .filter
                                button(type="button",onClick="filter.hideFilter(); return false;").filter-btn_close
                                .filter-content
                                    form(action="",data-page="flat")
                                        .form-row
                                            .view-desktop
                                                .filter-towers
                                                    .filter-tower-plan
                                                        include jade/svg/plan.svg
                                                    .filter-tower-plan.filter-tower-plan-mask
                                                        include jade/svg/plan-b.svg
                                                .filter-tower-plan_switch
                                                    input(type="checkbox",name="towers",value="1",checked)#checkboxtower1.checkbox-transparent.js-towers
                                                    label(for="checkboxtower1")
                                                        | Tower 1

                                                    input(type="checkbox",name="towers",value="2",checked)#checkboxtower2.checkbox-transparent.js-towers
                                                    label(for="checkboxtower2")
                                                        | Tower 2
                                            .view-mobile
                                                .row
                                                    .col-2.col-sm-auto
                                                        .filter-form_title
                                                            | Tower
                                                    .col-10.col-sm

                                                        input(type="checkbox",name="towers",value="1",checked)#checkboxtowerm1.checkbox.js-towers
                                                        label(for="checkboxtowerm1")
                                                            | 1


                                                        input(type="checkbox",name="towers",value="2",checked)#checkboxtowerm2.checkbox.js-towers
                                                        label(for="checkboxtowerm2")
                                                            | 2
                                        .form-row
                                            .row
                                                .col-2.col-sm-auto
                                                    .filter-form_title
                                                        | Floor
                                                .col-10.col-sm
                                                    .filter-form_slider
                                                        .form-slider.js-range-slider#floors-slider(data-param="floor",data-rangemin="5",data-rangemax="17")
                                        .form-row
                                            .row
                                                .col-2.col-sm-auto
                                                    .filter-form_title
                                                        | Flats
                                                .col-10.col-sm

                                                    input(type="checkbox",name="flats",value="1",checked)#checkboxflat1.checkbox
                                                    label(for="checkboxflat1")
                                                        | 1


                                                    input(type="checkbox",name="flats",value="2",checked)#checkboxflat2.checkbox
                                                    label(for="checkboxflat2")
                                                        | 2


                                                    input(type="checkbox",name="flats",value="3",checked)#checkboxflat3.checkbox
                                                    label(for="checkboxflat3")
                                                        | 3


                                                    input(type="checkbox",name="flats",value="4",checked)#checkboxflat4.checkbox
                                                    label(for="checkboxflat4")
                                                        | 4


                                                    input(type="checkbox",name="flats",value="5",checked)#checkboxflat5.checkbox
                                                    label(for="checkboxflat5")
                                                        | 4+

                                        .form-row
                                            .row
                                                .col-2.col-sm-auto
                                                    .filter-form_title
                                                        | Price
                                                .col-10.col-sm
                                                    .filter-form_slider
                                                        .form-slider.js-range-slider#price-slider(data-param="price",data-rangemin="0",data-rangemax="1000000",data-suffix=" €")

                                    .filter-amount
                                        .row.no-gutters.justify-content-between
                                            .col
                                                .filter-amount_text
                                                    | Found&nbsp;
                                                    span.js-filter-amount
                                                        | 0
                                                    |  apartments
                                            .d-none.d-xl-block.col-auto
                                                button(type="button").filter-amount_btn.js-filter-reset
                                                    | Reset filters

                                            .d-xl-none.col-auto
                                                button(type="button").filter-amount_btn.filter-amount_btn-reset.js-filter-reset
                                                    | Reset
                                                button(type="button",onClick="filter.hideFilter(); return false;").filter-amount_btn.filter-amount_btn-show
                                                    | Show


                            .filter-additional-amount
                                .row.no-gutters.align-items-center
                                    .col.col-sm-3.col-xxl-4
                                        .filter-additional-amount_item
                                            | + 20 000 $
                                            .filter-additional-amount_item_label
                                                | Parking
                                    .col.col-sm-4.col-xxl-4
                                        .filter-additional-amount_item
                                            | + 20 000 $
                                            .filter-additional-amount_item_label
                                                | Storage room
                                    .col-auto
                                        a(href="").filter-additional-amount_more.js-popup-parking
                                            | More info

                .filter-views_item(data-type="plan")
                    .filter-views_plan-container(style="transform: rotate(0deg);")
                        .popup-flat_plan_compas
                        .filter-views_plan-container_filter
                            .filter-tower-plan
                                include jade/svg/plan.svg
                            .filter-tower-plan.filter-tower-plan-mask
                                include jade/svg/plan-b.svg
                            .filter-tower-plan_switch
                                input(type="checkbox",name="towers",value="1",checked)#checkboxtowerp1.checkbox-transparent.js-towers
                                label(for="checkboxtowerp1")
                                    | Tower 1

                                input(type="checkbox",name="towers",value="2",checked)#checkboxtowerp2.checkbox-transparent.js-towers
                                label(for="checkboxtowerp2")
                                    | Tower 2
                            .filter-tower-plan_floor-select
                                .filter-tower-plan_floors
                                    span.filter-tower-plan_floor-current.js-floor-current 3
                                    | /
                                    span.filter-tower-plan_floor-total.js-floor-total 16
                                .filter-tower-plan_floor-arrows
                                    .filter-tower-plan_floor-up.js-floor-up
                                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="23" viewBox="0 0 10 23"><g><g><path fill="#080e1d" d="M5 0l5 23H0z"/></g></g></svg>
                                    .filter-tower-plan_floor-down.js-floor-down
                                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="23" viewBox="0 0 10 23"><g><g><path fill="#080e1d" d="M5 23l5-23H0z"/></g></g></svg>
                        .row.no-gutters.align-items-center
                            .col-auto
                                .filter-views_plan-container_street
                                    | Saku
                            .col
                                .filter-views_plan-container_street.horizontal
                                    | Pärnu maantee
                                .filter-views_plan-container_scheme
                                    .filter-views_plan-container_scheme_mask
                                        include jade/svg/floorplan.svg
                                    .filter-views_plan-container_scheme_plan
                                        img(src="img/content/floor-test-bg.svg", alt="").js-floorplan
                                .filter-views_plan-container_street.horizontal
                                    | Pärnu maantee
                            .col-auto
                                .filter-views_plan-container_street
                                    | Kohila

            include jade/components/about
        include jade/layout/footer
        include jade/components/flat
        include jade/layout/scripts
