//- gallery.jade
- var curPage = 'Gallery';
include jade/_mixins

doctype html
html
    include jade/layout/head
    body.light-theme
        include jade/layout/header
        .wrapper
            .section.gallery-container
                .container
                    .row.justify-content-sm-center
                        .col-12.col-xxl-10
                            .gallery-page_menu(data-aos="fade-right")
                                ul
                                    li.current
                                        a(href="#",data-index="1")
                                            | Exterior
                                    li
                                        a(href="#",data-index="2")
                                            | Interior
                                    li
                                        a(href="#",data-index="3")
                                            | outdoors
                                    li
                                        a(href="#",data-index="4")
                                            | Parking

                .container-fluer
                    .gallery-content-carousel.js-content-carousel
                        .gallery-content-carousel_item.current
                            .row.no-qutters
                                .col-12
                                    .carousel.carousel-gallery
                                        .owl-carousel
                                            .owl-carousel_item.owl-carousel_item-100vh(data-index="0",style="background-image: url('img/content/gallery1.png')")
                                            .owl-carousel_item.owl-carousel_item-100vh(data-index="1",style="background-image: url('img/content/gallery1.png')")
                                            .owl-carousel_item.owl-carousel_item-100vh(data-index="2",style="background-image: url('img/content/gallery1.png')")
                                            .owl-carousel_item.owl-carousel_item-100vh(data-index="3",style="background-image: url('img/content/gallery1.png')")
                                            .owl-carousel_item.owl-carousel_item-100vh(data-index="4",style="background-image: url('img/content/gallery1.png')")
                                        .owl-carousel_nav.owl-carousel_nav-inside
                                            .owl-carousel_nav_btn.owl-carousel_nav_btn-prev
                                            .owl-carousel_nav_count
                                                span.owl-carousel_nav_count_current
                                                    | 1
                                                span
                                                    | /
                                                span.owl-carousel_nav_count_total
                                                    | 5
                                            .owl-carousel_nav_btn.owl-carousel_nav_btn-next

                            .row.align-items-xl-center
                                .col-12.col-lg-6.order-1.order-lg-2
                                    .video-box
                                        .video-box_item
                                            a(href="https://www.youtube.com/watch?v=_sI_Ps7JSEk",data-fancybox="").video-box_item_play
                                                +icon("play", "")
                                            .video-box_item_preview(style="background-image: url('img/content/about1.png');")
                                    
                                .col-12.col-lg-6.order-2.order-lg-1
                                    .gallery-content
                                        h2.title.text-center.text-sm-left
                                            | design
                                        p
                                            | Suurepärane asukoht, Tipparhitektuur Hoolikalt läbi mõeldud planeeringud ja ajatu siseviimistlus Paindlikud lahendused äripindade kujundamisel Maast laeni aknad, kõrged laed, palju loomulikku valgust Energiasäästlikud lahendused Panoraamvaated Tallinnale Haljastatud katuseterrassid ja rõdud Esinduslik fuajee, eraldi sissepääsud äripindadele ja korteritele Mugav majasisene logistika Kiire ligipääs erinevatest sõidusuundadest  
                        .gallery-content-carousel_item
                            .row.no-qutters
                                .col-12
                                    .carousel.carousel-gallery
                                        .owl-carousel
                                            .owl-carousel_item.owl-carousel_item-100vh(data-index="0",style="background-image: url('img/content/gallery1.png')")
                                            .owl-carousel_item.owl-carousel_item-100vh(data-index="1",style="background-image: url('img/content/gallery1.png')")
                                            .owl-carousel_item.owl-carousel_item-100vh(data-index="2",style="background-image: url('img/content/gallery1.png')")
                                            .owl-carousel_item.owl-carousel_item-100vh(data-index="3",style="background-image: url('img/content/gallery1.png')")
                                            .owl-carousel_item.owl-carousel_item-100vh(data-index="4",style="background-image: url('img/content/gallery1.png')")
                                        .owl-carousel_nav.owl-carousel_nav-inside
                                            .owl-carousel_nav_btn.owl-carousel_nav_btn-prev
                                            .owl-carousel_nav_count
                                                span.owl-carousel_nav_count_current
                                                    | 1
                                                span
                                                    |  / 
                                                span.owl-carousel_nav_count_total
                                                    | 5
                                            .owl-carousel_nav_btn.owl-carousel_nav_btn-next

                            .row.align-items-xl-center
                                .col-12.col-lg-6.order-1.order-lg-2
                                    .video-box
                                        .video-box_item
                                            a(href="https://www.youtube.com/watch?v=_sI_Ps7JSEk",data-fancybox="").video-box_item_play
                                                +icon("play", "")
                                            .video-box_item_preview(style="background-image: url('img/content/about1.png');")
                                    
                                .col-12.col-lg-6.order-2.order-lg-1
                                    .gallery-content
                                        h2.title.text-center.text-sm-left
                                            | design
                                        p
                                            | Suurepärane asukoht, Tipparhitektuur Hoolikalt läbi mõeldud planeeringud ja ajatu siseviimistlus Paindlikud lahendused äripindade kujundamisel Maast laeni aknad, kõrged laed, palju loomulikku valgust Energiasäästlikud lahendused Panoraamvaated Tallinnale Haljastatud katuseterrassid ja rõdud Esinduslik fuajee, eraldi sissepääsud äripindadele ja korteritele Mugav majasisene logistika Kiire ligipääs erinevatest sõidusuundadest  
                        .gallery-content-carousel_item
                            .row.no-qutters
                                .col-12
                                    .carousel.carousel-gallery
                                        .owl-carousel
                                            .owl-carousel_item.owl-carousel_item-100vh(data-index="0",style="background-image: url('img/content/gallery1.png')")
                                            .owl-carousel_item.owl-carousel_item-100vh(data-index="1",style="background-image: url('img/content/gallery1.png')")
                                            .owl-carousel_item.owl-carousel_item-100vh(data-index="2",style="background-image: url('img/content/gallery1.png')")
                                            .owl-carousel_item.owl-carousel_item-100vh(data-index="3",style="background-image: url('img/content/gallery1.png')")
                                            .owl-carousel_item.owl-carousel_item-100vh(data-index="4",style="background-image: url('img/content/gallery1.png')")
                                        .owl-carousel_nav.owl-carousel_nav-inside
                                            .owl-carousel_nav_btn.owl-carousel_nav_btn-prev
                                            .owl-carousel_nav_count
                                                span.owl-carousel_nav_count_current
                                                    | 1
                                                span
                                                    |  / 
                                                span.owl-carousel_nav_count_total
                                                    | 5
                                            .owl-carousel_nav_btn.owl-carousel_nav_btn-next

                            .row.align-items-xl-center
                                .col-12.col-lg-6.order-1.order-lg-2
                                    .video-box
                                        .video-box_item
                                            a(href="https://www.youtube.com/watch?v=_sI_Ps7JSEk",data-fancybox="").video-box_item_play
                                                +icon("play", "")
                                            .video-box_item_preview(style="background-image: url('img/content/about1.png');")
                                    
                                .col-12.col-lg-6.order-2.order-lg-1
                                    .gallery-content
                                        h2.title.text-center.text-sm-left
                                            | design
                                        p
                                            | Suurepärane asukoht, Tipparhitektuur Hoolikalt läbi mõeldud planeeringud ja ajatu siseviimistlus Paindlikud lahendused äripindade kujundamisel Maast laeni aknad, kõrged laed, palju loomulikku valgust Energiasäästlikud lahendused Panoraamvaated Tallinnale Haljastatud katuseterrassid ja rõdud Esinduslik fuajee, eraldi sissepääsud äripindadele ja korteritele Mugav majasisene logistika Kiire ligipääs erinevatest sõidusuundadest  
                        .gallery-content-carousel_item
                            .row.no-qutters
                                .col-12
                                    .carousel.carousel-gallery
                                        .owl-carousel
                                            .owl-carousel_item.owl-carousel_item-100vh(data-index="0",style="background-image: url('img/content/gallery1.png')")
                                            .owl-carousel_item.owl-carousel_item-100vh(data-index="1",style="background-image: url('img/content/gallery1.png')")
                                            .owl-carousel_item.owl-carousel_item-100vh(data-index="2",style="background-image: url('img/content/gallery1.png')")
                                            .owl-carousel_item.owl-carousel_item-100vh(data-index="3",style="background-image: url('img/content/gallery1.png')")
                                            .owl-carousel_item.owl-carousel_item-100vh(data-index="4",style="background-image: url('img/content/gallery1.png')")
                                        .owl-carousel_nav.owl-carousel_nav-inside
                                            .owl-carousel_nav_btn.owl-carousel_nav_btn-prev
                                            .owl-carousel_nav_count
                                                span.owl-carousel_nav_count_current
                                                    | 1
                                                span
                                                    |  / 
                                                span.owl-carousel_nav_count_total
                                                    | 5
                                            .owl-carousel_nav_btn.owl-carousel_nav_btn-next

                            .row.align-items-xl-center
                                .col-12.col-lg-6.order-1.order-lg-2
                                    .video-box
                                        .video-box_item
                                            a(href="https://www.youtube.com/watch?v=_sI_Ps7JSEk",data-fancybox="").video-box_item_play
                                                +icon("play", "")
                                            .video-box_item_preview(style="background-image: url('img/content/about1.png');")
                                    
                                .col-12.col-lg-6.order-2.order-lg-1
                                    .gallery-content
                                        h2.title.text-center.text-sm-left
                                            | design
                                        p
                                            | Suurepärane asukoht, Tipparhitektuur Hoolikalt läbi mõeldud planeeringud ja ajatu siseviimistlus Paindlikud lahendused äripindade kujundamisel Maast laeni aknad, kõrged laed, palju loomulikku valgust Energiasäästlikud lahendused Panoraamvaated Tallinnale Haljastatud katuseterrassid ja rõdud Esinduslik fuajee, eraldi sissepääsud äripindadele ja korteritele Mugav majasisene logistika Kiire ligipääs erinevatest sõidusuundadest  
                           

            include jade/components/about
        include jade/layout/footer
        include jade/layout/scripts