//- index.jade
- var curPage = 'Main';
include jade/_mixins

doctype html
html
    include jade/layout/head
    body
        .wrapper
            include jade/layout/header-tr
            .section.section-fluid.dark-theme
                .building-model#buildingmodel
                    .building-title
                        h1(data-aos="zoom-in")
                            img(src="img/icons/logo-vector-vertical.svg", alt="")
                            .main-title Uus sihtkoht Tallinna kesklinnas
                    .building-location
                        .row.no-gutters
                            .col-12.col-xl-6
                            .col-12.col-xl-6
                                .building-location_map(data-aos="fade-right",data-zoom="13")
                    
                    .building-model_webgl#webgl(style="transform: translateY(0);")

            .section.section-fluid.dark-theme(data-aos="fade-up")
                include jade/components/advantages
            .section.dark-theme.timeline
                include jade/components/timeline

            include jade/components/about
        include jade/layout/footer
        
        include jade/layout/scripts
        include jade/layout/webgl.html
