//- new index page index2.jade
include jade/_mixins

doctype html
html
  include jade/layout/head
  body.index
    .preloader.is-showing
      img.preloader__logo(src="img/icons/logo-vector-vertical-white.svg", alt="")
      .preloader__line
    script(type="text/javascript").
      var preloader = (function (){
        document.addEventListener('DOMContentLoaded', function(){
          var preloaderEl = document.querySelector('.preloader');
          if(preloaderEl) {
            preloaderEl.classList.remove('is-showing');
          }
        });
      })();
    include jade/layout/header-tr
    nav.main-menu
      ul.pagination
        li
          a item
        li
          a item
        li
          a item
        li
          a item
        li
          a item
        li
          a item
    .wrapper#fullpage
      main.index-wrap
        section.index-full__section.index-full__section_1.index-full__section_dark(style="background-image: url(../img/index/index-1.jpg)")
          .index-full__section-content
            h1.index-full__descript(data-aos="slide-up")
              | Uus sihtkoht Tallinna kesklinnas
            button.skrllr-down.js-skrllr-down(style="pointer-events: auto;")
        section.index-full__section.index-full__section_2.dark-theme(style="background-image: url(../img/index/index-2.jpg)")
          .index-full__section-content
            h2.index-full__header
              | Top architecture for the modern urban man
            p.index-full__text Vektori arhitektuurne lahendus on loodud Eesti ühe edukama, edumeelsema ja vaieldamatult modernse käekirjaga büroo, Kadarik. Tüür. Arhitektid, poolt. Hoone kontseptsioon ühendab esindusliku tehnitsismi ja hubase kodususe. Maja urbanistlikku joont tasakaalustavad haljastatud katuseterrassid ja rõdud. Hoone välisilme kandub orgaaniliselt edasi ka siselahendustesse.<br><br>Vektori multifunktsionaalne keskkond on kaasaegselt mugav, elegantne ja ökonoomne. Läbimõeldud lahendused loovad mõnusa elukeskkonna tegusale linnainimesele ja paindliku tegutsemispaiga esinduslikule salongile või loovettevõttele.<br></p>
        section.index-full__section.index-full__section_3.index-full__section_dark(style="background-image: url(../img/index/index-3.jpg)")
          .index-full__section-content
            h2.index-full__header
              | Location in the middle of all possibilities
            p.index-full__text
              | Some of&nbsp;the world&rsquo;s most iconic tall buildings live in&nbsp;New York, and have become symbols of&nbsp;this City. They owe their shape, recognition and height to&nbsp;the unconquerable Manhattan bedrock. It&nbsp;is&nbsp;on&nbsp;this foundation that Central Park Tower
        section.index-full__section.index-full__section_4(style="background-image: url(../img/index/index-4.jpg)")
          .index-full__section-content
            h2.index-full__header
              | Functional and stylish content
            p.index-full__text.index-full__text_view_s
              | This new architectural landmark will rise 1,550 feet above New York City, establishing it&nbsp;as&nbsp;the tallest residential building in&nbsp;the world. <br><br>Elegant and graceful, its strong presence positions Central Park Tower as&nbsp;a&nbsp;powerful and poised statement along the Manhattan skyline.
        section.index-full__section.index-full__section_5.index-full__section_dark(style="background-image: url(../img/index/index-5.jpg)")
          .index-full__section-content
            h2.index-full__header
              | Economical, comfortable and high quality
            p.index-full__text
              | This new architectural landmark will rise 1,550 feet above New York City, stablishing it as the tallest residential building in the world. Elegant and graceful, its strong presence positions Central Park Tower as a powerful and poised statement along the Manhattan skyline.
        footer.index-full__footer.index-full__section_dark(style="background-image: url(../img/index/bg-vektor.jpg")
          .index-full__section-content
            h2.index-full__descript
              | Uus sihtkoht Tallinna kesklinnas
            .index-full__foot-links
              a.index-full__link(href="/burolist.html") ÄRIPINNAD 
              a.index-full__link(href="/flatlist.html") KORTERID
          .index-full__copyrights
            .container
              .row.justify-content-sm-between
                .col-12.col-sm-auto.col-lg-4
                  p
                    | © vector.com, 2019
                .col-12.col-sm-auto.text-sm-center.col-lg-4
                  p
                    a(href="http://", target="_blank", rel="noopener noreferrer")
                      | Privacy policy
                .col-12.col-sm-auto.text-sm-right.col-lg-4
                  p
                    a(href="http://cake.ru",target="_blank")
                      | Site development –
                      strong &nbsp;Cake

    include jade/layout/footer-tr
    include jade/layout/scripts
