//- location.jade
- var curPage = 'Location';
include jade/_mixins

doctype html
html
    include jade/layout/head
    body.light-theme
        include jade/layout/header
        .wrapper

        

            .section.section-fluid
                .panorama(data-aos="fade-up")
                    img.img-full(src="img/content/panorama.png")
            .section.location-container
                .container
                    .content-section
                        .row.justify-content-sm-center
                            .col-12.col-sm-11.col-md-8.col-xl-6.text-sm-center(data-aos="fade-right")
                                h1.title.text-center
                                    | Pärnu mnt 137
                                p
                                    | Dear site visitors! Please note that all information provided on this site is for informational purposes only, is not an offer or a public offer in accordance with art. 435, paragraph 2 of Art. 437 of the Civil Code of the Russian Federation.
            .section.section-fluid
                .map(data-aos="zoom-in")
                    img.img-full(src="img/map2.png", style="width: 100%;" alt="")

            .section.section-fluid
                .container
                    .content-section.content-section_gallery(data-aos="fade-left")
                        .row.align-items-xl-center
                            .col-12.col-lg-6.order-1.order-lg-2
                                .carousel.carousel-big.carousel-50vw
                                    .owl-carousel
                                        .owl-carousel_item(data-index="0", style="background-image: url('img/content/gallery1.png')")
                                        .owl-carousel_item(data-index="1", style="background-image: url('img/content/gallery1.png')")
                                        .owl-carousel_item(data-index="2", style="background-image: url('img/content/gallery1.png')")
                                        .owl-carousel_item(data-index="3", style="background-image: url('img/content/gallery1.png')")
                                        .owl-carousel_item(data-index="4", style="background-image: url('img/content/gallery1.png')")
                                    .owl-carousel_nav.owl-carousel_nav-location
                                        .owl-carousel_nav_btn.owl-carousel_nav_btn-prev
                                            img(src="img/icons/arrow-left.svg", alt="")
                                        .owl-carousel_nav_count
                                            span.owl-carousel_nav_count_current
                                                | 0
                                            span
                                                |  / 
                                            span.owl-carousel_nav_count_total
                                                | 0
                                        .owl-carousel_nav_btn.owl-carousel_nav_btn-next
                                            img(src="img/icons/arrow-right.svg", alt="")

                            .col-12.col-lg-6.order-2.order-lg-1
                                .row
                                    .col-12.col-lg-9
                                        .location-content
                                            h2.title
                                                | Interior design
                                            p
                                                | Suurepärane asukoht, Tipparhitektuur Hoolikalt läbi mõeldud planeeringud ja ajatu siseviimistlus Paindlikud lahendused äripindade kujundamisel Maast laeni aknad, kõrged laed, palju loomulikku valgust Energiasäästlikud lahendused Panoraamvaated Tallinnale Haljastatud katuseterrassid ja rõdud Esinduslik fuajee, eraldi sissepääsud äripindadele ja korteritele Mugav majasisene logistika Kiire ligipääs erinevatest sõidusuundadest 
                

            include jade/components/about
        include jade/layout/footer
        include jade/layout/scripts