//- progress.jade
- var curPage = 'Progress';
include jade/_mixins

doctype html
html
    include jade/layout/head
    body.light-theme
        include jade/layout/header
        .wrapper
            .section.progress-container
                .container
                    .content-section
                        .row.justify-content-sm-center
                            .col-12.col-sm-11.col-md-8.col-xl-6.text-sm-center(data-aos="fade-left" data-aos-offset="200")
                                h1.title.text-center
                                    | Technical information
                                p
                                    | Dear site visitors! Please note that all information provided on this site is for informational purposes only, is not an offer or a public offer in accordance with art. 435, paragraph 2 of Art. 437 of the Civil Code of the Russian Federation.

            .section
                .timeline-container.timeline-container-notimage(data-aos="fade-left" data-aos-offset="200")
                    .timeline-years
                        .timeline-years_content(style="transform: translateX(0);")
                            span.line
                            .timeline-years_year.js-point
                                | 2019
                            .timeline-years_point.js-point(data-image="img/content/progress1.jpg")
                                .timeline-years_point_title
                                    | Site preparation
                                .timeline-years_point_date
                                    | May
                                .timeline-years_point_dot.first

                            .timeline-years_point.js-point(data-image="img/content/progress2.jpg")
                                .timeline-years_point_title
                                    | Excavation
                                .timeline-years_point_date
                                    | April
                                .timeline-years_point_dot

                            .timeline-years_point.js-point(data-image="img/content/progress3.jpg")
                                .timeline-years_point_title
                                    | Foundation work
                                .timeline-years_point_date
                                    | June
                                .timeline-years_point_dot
                            
                            .timeline-years_point.js-point(data-image="img/content/progress1.jpg")
                                .timeline-years_point_title
                                    | First floor construction
                                .timeline-years_point_date
                                    | September
                                .timeline-years_point_dot

                            .timeline-years_point.js-point(data-image="img/content/progress2.jpg")
                                .timeline-years_point_title
                                    | Site preparation
                                .timeline-years_point_date
                                    | October
                                .timeline-years_point_dot

                            .timeline-years_point.js-point(data-image="img/content/progress3.jpg")
                                .timeline-years_point_title
                                    | Excavation
                                .timeline-years_point_date
                                    | November
                                .timeline-years_point_dot

                            .timeline-years_point.js-point(data-image="img/content/progress1.jpg")
                                .timeline-years_point_title
                                    | Foundation work
                                .timeline-years_point_date
                                    | December
                                .timeline-years_point_dot
                                
                            .timeline-years_year.js-point
                                | 2020

                            .timeline-years_point.js-point(data-image="img/content/progress2.jpg")
                                .timeline-years_point_title
                                    | Site preparation
                                .timeline-years_point_date
                                    | May
                                .timeline-years_point_dot

                            .timeline-years_point.js-point(data-image="img/content/progress3.jpg")
                                .timeline-years_point_title
                                    | Excavation
                                .timeline-years_point_date
                                    | April
                                .timeline-years_point_dot

                            .timeline-years_point.js-point(data-image="img/content/progress1.jpg")
                                .timeline-years_point_title
                                    | Foundation work
                                .timeline-years_point_date
                                    | June
                                .timeline-years_point_dot
                            
                            .timeline-years_point.js-point(data-image="img/content/progress2.jpg")
                                .timeline-years_point_title
                                    | First floor construction
                                .timeline-years_point_date
                                    | September
                                .timeline-years_point_dot

                            .timeline-years_point.js-point(data-image="img/content/progress3.jpg")
                                .timeline-years_point_title
                                    | Site preparation
                                .timeline-years_point_date
                                    | October
                                .timeline-years_point_dot

                            .timeline-years_point.js-point(data-image="img/content/progress1.jpg")
                                .timeline-years_point_title
                                    | Excavation
                                .timeline-years_point_date
                                    | November
                                .timeline-years_point_dot

                            .timeline-years_point.js-point(data-image="img/content/progress2.jpg")
                                .timeline-years_point_title
                                    | Foundation work
                                .timeline-years_point_date
                                    | December
                                .timeline-years_point_dot


                        //- .timeline-years_way

            //.section
            //    .container
            //        .content-section
            //            .row
            //                .col-12.col-sm-4(data-aos="fade-right")
            //                    h3.progress-content_title
            //                        | Architecture
            //                    .progress-content
            //                        p
            //                            | Suurepärane asukoht, Tipparhitektuur Hoolikalt läbi mõeldud planeeringud ja ajatu siseviimistlus Paindlikud lahendused äripindade kujundamisel Maast laeni aknad, kõrged laed, palju loomulikku valgust Energiasäästlikud lahendused Panoraamvaated Tallinnale Haljastatud katuseterrassid ja rõdud Esinduslik fuajee, eraldi sissepääsud äripindadele ja korteritele Mugav majasisene logistika Kiire ligipääs erinevatest sõidusuundadest Automatiseeritud kütte, ventilatsiooni, jahutuse  valgustuse lahendused Kõrge
            //                .col-12.col-sm-4(data-aos="fade-right",data-aos-delay="200")
            //                    h3.progress-content_title
            //                        | Panoramic views of Tallinn
            //                    .progress-content
            //                        p
            //                            | Suurepärane asukoht, Tipparhitektuur Hoolikalt läbi mõeldud planeeringud ja ajatu siseviimistlus Paindlikud lahendused äripindade kujundamisel Maast laeni aknad, kõrged laed, palju loomulikku valgust Energiasäästlikud lahendused Panoraamvaated Tallinnale Haljastatud katuseterrassid ja rõdud Esinduslik fuajee, eraldi sissepääsud äripindadele ja korteritele Mugav majasisene logistika Kiire ligipääs erinevatest sõidusuundadest Automatiseeritud kütte, ventilatsiooni, jahutuse  valgustuse lahendused Kõrge
            //                .col-12.col-sm-4(data-aos="fade-right",data-aos-delay="400")
            //                    h3.progress-content_title
            //                        | Carefully designed plans and timeless interior finishing
            //                    .progress-content
            //                        p
            //                            | korteritele Mugav majasisene logistika Kiire ligipääs erinevatest sõidusuundadest Automatiseeritud kütte, ventilatsiooni, jahutuse  valgustuse lahendused Kõrge ehituskvaliteet  Suurepärane asukoht, Tipparhitektuur Hoolikalt läbi mõeldud planeeringud ja ajatu siseviimistlus Paindlikud lahendused äripindade kujundamisel Maast laeni aknad
            //
            .section
                .container
                    .content-section
                        .articles
                            .articles__inner
                                .articles__item(data-aos="fade-left" data-aos-offset="0")
                                    .article
                                        h3.article__title
                                            | Архитектурная концепция
                                        p.article__text
                                            | «Вектор — это новый, круглосуточный, современный и городской район. Направление куда и куда идти. Внешняя современность и динамичность здания отражают интерьер здания. Внутри вектора находится многофункциональная среда, которая удачно сочетает коммерческое, деловое и жилое пространство».

                                .articles__item(data-aos="fade-left" data-aos-offset="100")
                                    .article
                                        h3.article__title
                                            | Внутренняя отделка
                                        p.article__text
                                            | Векторные квартиры были спроектированы с использованием декоративных пакетов для интерьера различного характера, которые устойчивы к атмосферным воздействиям и космополитичны. Тенденции дизайна интерьера — Kadri Tamm и Elin-Harriet Helemäe — Kadarik Tüür Architects.<br><br>
                                            | Структура внешнего фасада здания все еще ощутима в помещении. Номера оформлены в сбалансированном и разнообразном стиле.<br><br>
                                            | Отделочные решения вдохновлены скандинавским минимализмом и французскими интерьерами. Они встречают уют и элегантность, природу и урбанизм.

                                .articles__item(data-aos="fade-left" data-aos-offset="200")
                                    .article
                                        h3.article__title
                                            | Электричество и низкий ток
                                        p.article__text
                                            | Распределительный щит квартиры с&nbsp;электрическим и&nbsp;малым током расположен встраиваемым в&nbsp;стену прихожей или в&nbsp;подсобном помещении. Электрическая часть имеет автоматические предохранители, а&nbsp;слаботочная часть имеет контрольную панель готовности, ТВ&nbsp;и&nbsp;коммуникационные соединения и&nbsp;свободное место для активного сетевого оборудования.<br><br>
                                            | Светильники устанавливаются в подвесных потолках, в коридорах, парилках и санузлах. Счетчики электроэнергии расположены в электрощитовой комнаты многоквартирного дома. В каждом номере в апартаментах есть одна розетка для телевизора и коммуникационные розетки для телефона и интернета. Внутренняя сеть квартиры построена с кабелями Cat6. Кабельное телевидение полагается на вход кабельного телевидения. Техническая готовность заключать договоры на предоставление услуг телефонии, Интернет и ТВ с различными поставщиками услуг гарантирована. Апартаменты оснащены видеомагнитофоном.

                                .articles__item(data-aos="fade-left" data-aos-offset="0")
                                    .article
                                        h3.article__title
                                            | Энергетический класс B

                                .articles__item(data-aos="fade-left" data-aos-offset="100")
                                    .article
                                        h3.article__title
                                            | Система отопления
                                        p.article__text
                                            | Здание подключено к системе централизованного теплоснабжения Таллиннского отопления. Контролируемое отопление водяного пола в квартирах обеспечивает комфортный климат в помещении. Сборные шкафы для обогрева труб устанавливаются в прихожей или в подсобном помещении. В ванных комнатах есть электрическое отопление пола.<br><br>
                                            | Коммерческое отопление основано на центральном отоплении Таллиннского отопления.

                                .articles__item(data-aos="fade-left" data-aos-offset="200")
                                    .article
                                        h3.article__title
                                            | Умный дом
                                        p.article__text
                                            | Все квартиры построены по&nbsp;принципу &laquo;умного дома&raquo;, а&nbsp;это значит, что внутренний климат квартиры, проход и&nbsp;контроль различных показаний контролируются автоматическими. Стандартная установка &laquo;Умный дом&raquo; в&nbsp;квартире включает в&nbsp;себя управление отоплением, вентиляцией, видеомагнитофоном, показаниями электричества и&nbsp;показаниями горячей и&nbsp;холодной воды. Все это можно контролировать&nbsp;/ контролировать с&nbsp;помощью монитора квартиры или через Интернет.



            include jade/components/about
        include jade/layout/footer
        include jade/layout/scripts