.section.footer
    .footer_content
        .container
            .row.justify-content-center
                .col-12.col-xl-10
                    .text-center
                        p
                            | Dear site visitors! Please note that all information provided on this site is for informational purposes only, is not an offer or a public offer in accordance with art. 435, paragraph 2 of Art. 437 of the Civil Code of the Russian Federation. The prices indicated on the website are approximate, the developer can change the specified prices at any time at his discretion without any prior notice. The price of each contract is formed individually, taking into account, including: the selected object, its location, the construction phase, the payment terms in force at the time of the conclusion of the special shares agreement and (or) conditions, etc. The images of the objects presented on the website, including images of the layouts of individual apartments and non-residential premises are schematic and may differ from the materials of the design and working documentation. All information about sales conditions, the procedure for concluding contracts, the exact characteristics of objects, etc. You can find out by calling us and (or) directly in our sales offices.
    .footer_copyrights
        .container
            .row.justify-content-sm-between
                .col-12.col-sm-auto.col-lg-4
                    p
                        | © vector.com, 2019
                .col-12.col-sm-auto.text-sm-center.col-lg-4
                    p
                        a(href="http://", target="_blank", rel="noopener noreferrer")
                            | Privacy policy
                .col-12.col-sm-auto.text-sm-right.col-lg-4
                    p
                        a(href="http://cake.ru",target="_blank")
                            | Site development –
                            strong &nbsp;Cake
                            //+icon("cakelab", "cakelab_logo")
include ./panel
include ./orderform
include ./parkingpopup

.advantages-popup(style="background-image: url('img/content/promo4.png');")
    button(type="button").advantages-popup_close.js-advantages-close
    .advantages-popup_content
        h3.advantages-popup_title
        .advantages-popup_text

