//- template/head.jade
head(lang="ru")
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	title= curPage 
	meta(name="viewport", content="width=device-width")
	meta(name="description", content="")
	meta(name="format-detection", content="telephone=no")
	link(rel="stylesheet", href="css/main.css")
	style(type="text/css").
		.preloader {
			position: fixed;
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: center;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #0e1632;
			z-index: 1000;
			opacity: 0;
			visibility: hidden;
			transition: all 2s ease-in-out;
			overflow: hidden;
		}
	  
		.preloader.is-showing {
			opacity: 1;
			visibility: visible;
		}
		
		.is-showing .preloader__logo {
			opacity: 1;
		}
		
		.preloader__logo {
			margin-top: -5vh;
			opacity: 0;
			transition: all 1s ease;
		}
		
		.preloader__line {
			margin-top: 20vh;
			height: 1px;
			width: 1px;
			background: #fff;
			animation: preload 3s forwards ease-in-out;
		}
		
		@keyframes preload {
			to {
				width: 100%;
			}
		}

	link(rel="apple-touch-icon",sizes="57x57",href="img/fav/apple-icon-57x57.png")
	link(rel="apple-touch-icon",sizes="60x60",href="img/fav/apple-icon-60x60.png")
	link(rel="apple-touch-icon",sizes="72x72",href="img/fav/apple-icon-72x72.png")
	link(rel="apple-touch-icon",sizes="76x76",href="img/fav/apple-icon-76x76.png")
	link(rel="apple-touch-icon",sizes="114x114",href="img/fav/apple-icon-114x114.png")
	link(rel="apple-touch-icon",sizes="120x120",href="img/fav/apple-icon-120x120.png")
	link(rel="apple-touch-icon",sizes="144x144",href="img/fav/apple-icon-144x144.png")
	link(rel="apple-touch-icon",sizes="152x152",href="img/fav/apple-icon-152x152.png")
	link(rel="apple-touch-icon",sizes="180x180",href="img/fav/apple-icon-180x180.png")
	link(rel="icon",type="image/png",sizes="192x192",href="img/fav/android-icon-192x192.png")
	link(rel="icon",type="image/png",sizes="32x32",href="img/fav/favicon-32x32.png")
	link(rel="icon",type="image/png",sizes="96x96",href="img/fav/favicon-96x96.png")
	link(rel="icon",type="image/png",sizes="16x16",href="img/fav/favicon-16x16.png")
