.header.top.dark-bg
    .container
        .row
            .col-6.col-sm-2.col-lg-2
                a(href="/index2.html").header-logo
                    +icon("logo-vector","")
            .col.col-sm-8.col-lg-8.header-menu-wrap
                .header-menu
                    ul.header-menu__list
                        li
                            a(href="/flatlist.html")
                                | Flat
                        li.current
                            a(href="/burolist.html")
                                | Buro
                        li
                            a(href="/about.html")
                                | About
                        li
                            a(href="/location.html")
                                | Location
                        li
                            a(href="/gallery.html")
                                | Gallery
                        li
                            a(href="/progress.html")
                                | Progress
                        li
                            a(href="/contacts.html")
                                | Contact
                    .header-lang
                        ul.header-lang__container.js-lang-container
                            li.header-lang__item
                                a(href="/en/location/")
                                    | Eng
                            li.header-lang__item
                                a(href="/location/")
                                    | Rus
                            li.header-lang__item
                                a(href="/es/location/")
                                    | Est
                    button(type="button").header-menu_close.js-menu
            .col-auto.col-sm-2.col-lg-2.text-sm-right


                button(type="button").header-burger.js-menu
                    span