.popup-orderform.js-scrollbar
    button(type="button").popup-orderform_close.js-orderform
    .popup-orderform_content
        .popup-orderform_title
            | Fill out the form and our managers will answer all your questions
        .popup-orderform_form
            form(action="")#callbackform
                .row
                    .col-sm-6
                        .form-controle
                            .textfield
                                label(for="")
                                    | Name
                                input(type="text",name="name")
                                small.messages
                        .form-controle
                            .textfield
                                label(for="")
                                    | Phone
                                input(type="text",name="phone",placeholder="+372 (___) ___-__-__")
                                small.messages
                        .form-controle
                            .textfield
                                label(for="")
                                    | Email
                                input(type="text",name="email")
                                small.messages
                    .col-sm-6
                        .form-controle
                            .textfield
                                label(for="")
                                    | Comment
                                textarea(name="comment")
                                small.messages

                .row
                    .col-12
                        button(type="submit").popup-orderform_form_send
                            | Send
                .row
                    .col-12
                        .popup-orderform_form_desc
                            | By submitting the form, you confirm your capacity and consent to the processing of personal data

    .popup-orderform_content.popup-orderform_content-success.hide
        .popup-orderform_title
            | Thank you for contacting us, we will contact you shortly
