.panel
    .row.no-gutters
        .col-auto
            a(href="/" target="_blank").btn.btn-block.panel_btn.js-panel-sales
                | Sales Information
        .col-auto
            button(type="button").btn.btn-block.panel_btn.panel_btn--accent.js-orderform
                | Request
        .col.align-self-end.text-right.d-flex.justify-content-end
            button(type="button").btn.panel_btn.panel_btn--outproject.js-panel-outproject
                +icon("capital", "")

    .panel-outproject.dark-bg
        ul
            li
                span
                    | Our ohter projects
            li
                a(href="#")
                    | Kesk-Peetri Kodu
            li
                a(href="#")
                    | Hilton Tallinn Park
            li
                a(href="#")
                    | Krati Kvartal
            li
                a(href="#")
                    | Kadakamarja Kodu
            li
                a(href="#")
                    | Uus-Peetri
            li
                a(href="#")
                    | Tammsaare tee 118C
            li
                a(href="#")
                    | Ülikooli 6A

        button(type="button").btn.panel_btn.panel_btn--outproject.js-panel-outproject
            +icon("capital", "")
            //- img(src="img/triplenetlogo-dark.svg", alt="").no-margin