.popup-parking(style="background-image:url('../img/parking.png')")
    button(type="button").popup-parking_close.js-popup-parking
    .popup-parking_content
        .popup-parking_title
            | Parking and
            br
            | storage rooms
        p
            | Dear site visitors! Please note that all information provided on this site is for informational purposes only, is not an offer or a public offer in accordance with art. 435, paragraph 2 of Art. 437 of the Civil Code of the Russian Federation. 
        .row.d-flex.justify-content-between
            .col-auto
                .popup-parking_info
                    big
                        | 20000 m²
                    br
                    | Parking area
            .col-auto
                .popup-parking_info
                    big
                        | 20000 m³
                    br
                    | Storage area
            .col-auto
                .popup-parking_info
                    big
                        | 1000
                    br
                    | Rooms