script(type="text/javascript",src="config/location.json")
script(type="text/javascript",src="config/filter.json")
script(type="text/javascript",src="config/flats.json")
script(type="text/javascript",src="config/validate.js")
script(src="js/main.js")
