<script type="x-shader/x-vertex" id="vertexShader">

    attribute vec3 center;
    varying vec3 vCenter;

    void main() {
        vCenter = center;
        gl_Position = projectionMatrix * modelViewMatrix * vec4(position, 1.0);
    }

  </script>

  <script type="x-shader/x-fragment" id="fragmentShader">
    #extension GL_OES_standard_derivatives: enable
    
    uniform float u_time;
    #ifdef GL_ES
    precision mediump float;
    #endif

        varying vec3 vCenter;

        float edgeFactorTri() {
            vec3 d = fwidth(vCenter.xyz);
            vec3 a3 = smoothstep(vec3(0.0), d * 1.5, vCenter.xyz);
            return min(min(a3.x, a3.y), a3.z);
        }

        void main() {
            gl_FragColor.rgb = mix( vec3(0.29, 0.32, 0.38 ), vec3(0.03, 0.05, 0.11), edgeFactorTri());
            gl_FragColor.a = 1.0;
            //gl_FragColor = vec4(abs(sin(u_time)),0.0,0.0,1.0);
        }
  </script>